{% extends "layouts/default-sis.html" %}

{% block pageTitle %}
Home – {{serviceName}} – Has the person already entered the UK?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form id="form-next" class="form" action="/housing/sis-funds-abuse" method="post" novalidate>




        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        
          <h1 class="govuk-heading-l" style="margin-bottom:10px;">
            Has there been an abuse of public or private funds?
          </h1>
       
   <div id="abuse-hint" class="govuk-hint">
      For example, someone claiming government benefits fraudulently

    </div>


    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukRadios({
      name: "sis-funds-abuse",
      value: data ["sis-funds-abuse"],
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        },
          {
      divider: "or"
    },
        {
          value: "I do not know",
          text: "I do not know"
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  classes: "hods-button"
}) }}

<input type="hidden" id="sis-funds-done" name="sis-funds-done" value="Yes">
</form>


  </div>
</div>

{% endblock %}
