<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
    <h2 class="govuk-summary-card__title">More details about Person 2: {{ data['sis-person2-victim-first-name'] }} {{ data['sis-person2-victim-surname'] }}</h2>
    <ul class="govuk-summary-card__actions">
      <!--<li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden"> person </span>
        </a>
      </li>-->
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
          Delete<span class="govuk-visually-hidden"> document</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Documents used to enter the country
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data ['victim-docs2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="docs-type2">
          Change<span class="govuk-visually-hidden">answer</span>
        </a>
      </dd>
      </div>

      {% if data["victim-docs2"] == "Valid UK visa or permission" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of visa or permission
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data ["sisVisaType"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="visa-type2">
          Change<span class="govuk-visually-hidden">answer</span>
        </a>
      </dd>
      </div>
      {% else %}{% endif %}

      {% if data["victim-docs2"] == "None, they entered clandestinely" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Method of entry
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data ["sis-cland-victim2"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="cland-details2">
          Change<span class="govuk-visually-hidden">answer</span>
        </a>
      </dd>
      </div>

        {% if data["sis-cland-victim2"] == "Air" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Airline company
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-airline-company2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Flight number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-flight-number2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of departure 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-country2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Port of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-air-port-d2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-air-dod2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Port or place of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-air-port-a2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-air-doa2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% else %}{% endif %}

        {% if data["sis-cland-victim2"] == "Road" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vehicle registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-reg2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of vehicle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-type2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-make2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Model
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-model2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Colour
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-colour2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of entry
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-vehicle-enter2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% if data["sis-road-date2"] == " " %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-doa2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Aproximate date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-road-date2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        {% endif %}

        {% else %}{% endif %}

        {% if data["sis-cland-victim2"] == "Rail" or data["sis-cland-victim2"] == "Sea" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Arrived inside a vehicle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-victim-vehicle2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        {% else %}{% endif %}

        {% if data["sis-victim-vehicle2"] == "Yes" %}

        {% if data["sis-cland-victim2"] == "Sea" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vehicle registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-reg2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of vehicle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-type2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-make2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Model
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-model2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Colour
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-colour2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% else %}{% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of boat
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-boat-types2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of boat
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-sea-boat-name2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-country2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Port or place of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-sea-port2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-sea-dod2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Port of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-uk-air-ports2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Place of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-sea-place-a2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-sea-doa2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% else %}{% endif %}



        {% if data["sis-victim-vehicle2"] == "Yes" %}

        {% if data["sis-cland-victim2"] == "Rail" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Vehicle registration number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-reg2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of vehicle
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-type2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Make
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-make2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Model
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-model2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Colour
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-vehicle-colour2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="cland-vehicle2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% else %}{% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of departure 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-country2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Station of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-rail-port2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of departure
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-rail-dod2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Station of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-rail-arrival-station2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of arrival
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-rail-doa2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="route2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% else %}{% endif %}


      {% else %}{% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal representative
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-slavery-legal2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="legal2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>

      {% if data["sis-slavery-legal2"] == "Yes" %}
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal representative's names
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person2-legal-surname'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="legal-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person2-legal-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="legal-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person2-legal-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="legal-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person2-legal-employer'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="legal-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
      {% else %}{% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Been detained
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-victim-detained2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="detained2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>

      {% if data["sis-victim-detained2"] == "Yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of detention
        </dt>
        <dd class="govuk-summary-list__value">
          <!--{{ data['sis-slavery-detained'] }}-->
          {{ data['sis-slavery-detained2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="detained-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of detention phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-slavery-detained-phone2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="detained-details2">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>

      {% else %}{% endif %}

    </dl>
  </div>
  </div>
