{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – The How did the person, or people, enter the country clandestinely?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<span class="govuk-caption-xl">Person 1</span>
<h1 class="govuk-heading-l">Marriage details</h1>-->

<form class="form" action="/pink/current/arrange-marriage" method="post">

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

  {{ govukRadios({
    name: "arrange-marriage",
    value: data ["arrange-marriage"],
    fieldset: {
      legend: {
        text: "Did someone facilitate this marriage or civil partnership?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "This could be a person, a group of people or a business"
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      },
      {
              divider: "or"
            },
      {
        value: "I do not know",
        text: "I do not know"
      }
    ]
  }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
