{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Illegal wortking details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

<form id="form-next" class="form" action="/pink/current/task/list" method="post" novalidate>

<!--<span class="govuk-caption-xl">Location</span>-->


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<h1 class="govuk-heading-l">Check your answers</h1>

    <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
      <h2 class="govuk-summary-card__title">Group 1</h2>
      <ul class="govuk-summary-card__actions">
      
        <li class="govuk-summary-card__action"><a class="govuk-link" href="list-empty">
            Delete<span class="govuk-visually-hidden"> offence</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Group role
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["sis-terrorism-group"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["group-name"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ideology
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["ideology"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Religion
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["religion"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

     <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Social media details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["social-media"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["sis-group-address1-line1"] == "" %}{% else %}
          {{ data['sis-group-address1-line1'] }} <br/>{% endif %}

          {% if data["sis-group-address1-line2"] == "" %}{% else %}
          {{ data['sis-group-address1-line2'] }} <br/>{% endif %}

          {% if data["sis-group-address1-city"] == "" %}{% else %}
          {{ data['sis-group-address1-city'] }} <br/>{% endif %}

          {% if data["sis-group-address1-county"] == "" %}{% else %}
          {{ data['sis-group-address1-county'] }} <br/>{% endif %}

          {% if data["sis-group-address1-postcode"] == "" %}{% else %}
          {{ data['sis-group-address1-postcode'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>


      </dl>
    </div>
  </div>

{% if data["sis-group2-info"] == "Yes" %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
      <h2 class="govuk-summary-card__title">Group 2</h2>
      <ul class="govuk-summary-card__actions">
      
        <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
            <span class="govuk-visually-hidden"> offence</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Group role
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["sis-terrorism-group2"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["group-name2"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ideology
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["ideology2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Religion
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["religion2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

     <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Social media
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["social-media2"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["sis-group-address2-line1"] == "" %}{% else %}
          {{ data['sis-group-address2-line1'] }} <br/>{% endif %}

          {% if data["sis-group-address2-line2"] == "" %}{% else %}
          {{ data['sis-group-address2-line2'] }} <br/>{% endif %}

          {% if data["sis-group-address2-city"] == "" %}{% else %}
          {{ data['sis-group-address2-city'] }} <br/>{% endif %}

          {% if data["sis-group-address2-county"] == "" %}{% else %}
          {{ data['sis-group-address2-county'] }} <br/>{% endif %}

          {% if data["sis-group-address2-postcode"] == "" %}{% else %}
          {{ data['sis-group-address2-postcode'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="group2">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>


      </dl>
    </div>
  </div>

{% else %}
{% endif %}
  <input type="hidden" id="sis-group-done" name="sis-group-done" value="Yes">

{% from "govuk/components/button/macro.njk" import govukButton %}


{% if data["sis-group2-info"] == "Yes" %}
{{ govukButton({
  classes: "hods-button--secondary",
  text: "Add another group",
  href: ""
}) }}
{% else %}
{{ govukButton({
  classes: "hods-button--secondary",
  text: "Add another group",
  href: "type2"
}) }}

{% endif %}
<br>
  {{ govukButton({
    classes: "hods-button",
    text: "Continue"
  }) }}

  </form>

  </div>
  </div>

{% endblock %}
