{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
  Submit intelligence about immigration or borders – Your referral
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="padding-top: 40px;">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your referral
      </h1>

<p class="govuk-body-l"> We can only investigate this referral if you give us enough information. Complete as many sections as thoroughly as you can.</p>

      <ol class="cop-tasklist">
     
   <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Your details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <p style="margin-bottom: 0;">
                  Your details
                </p>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag app-task-list__tag-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>  Offence category
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <p style="margin-bottom: 0;">
                  Source of information
                </p>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag app-task-list__tag-completed">Completed</strong>
            </li>
  <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <p style="margin-bottom: 0;">
                  Offence type
                </p>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag app-task-list__tag-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Safeguarding
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 <p style="margin-bottom: 0;">
                  Harm and urgency
                </p>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag app-task-list__tag-completed">Completed</strong>
            </li>
          </ul>
        </li>


{% if data["start-crime"] == "document-fraud" and data["idp-involved"] == "No" %}
{% else %}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Parties involved
          </h2>
          <ul class="app-task-list__items">
  {% if data["start-crime"] == "idp" or data["sub-crime"] == "idp" or data["idp-involved"] == "Yes"%}
 
              <li class="app-task-list__item">
           
    {% if data["sis-main-doc-details"] == "Yes" %}
    <span class="app-task-list__task-name">
      <a href="/purple/current/task/main/idp/add/list" aria-describedby="eligibility-status">
     Add a document
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
    <span class="app-task-list__task-name">
      <a href="/purple/current/task/main/idp/add/type" aria-describedby="eligibility-status">
      Add a document
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
                
                </li>

  {% else %}
  {% endif %}
{% endif %}

{% if data["start-crime"] == "document-fraud" and data["sub-crime"] == "idp" %}
              <li class="app-task-list__item">
           
  {% if data["sis-main-doc-details"] == "Yes" %}
    <span class="app-task-list__task-name">
      <a href="/purple/current/task/main/idp/add/list" aria-describedby="eligibility-status">
     Add a document
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
  {% else %}
    <span class="app-task-list__task-name">
      <a href="/purple/current/task/main/idp/add/type" aria-describedby="eligibility-status">
      Add a document
      </a>
    </span>
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
  {% endif %}
                
                </li>
{% else %}
{% endif %}

            <!--ILLEGAL WORKING, SHAM MARRIAGE, S24, OVERSTAYER, BREACH OF CONDITIONS, CLANDESTINE ENTRY-->
{% if data["start-crime"] == "other" or data["start-crime"] == "illegal-working"  or data["start-crime"] == "marriage" or data["start-crime"] == "conditions" or data["start-crime"] == "clandestine" or data["start-crime"] == "overstayer" or data["start-crime"] == "housing" or data["start-crime"] == "rep-abuse" or data["start-crime"] == "deception" or data["start-crime"] == "facilitation" or data["start-crime"] == "smuggling" %}
  {% if data["sub-crime"] == "idp"%}
  {% else %}

              <li class="app-task-list__item">
    {% if data["sis-person-done"] == "Yes" %}
                <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/list.html" aria-describedby="contact-details-status">
                  Add a person
                </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
                <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/type.html" aria-describedby="contact-details-status">
                  Add a person
                </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
              </li>
  {% endif %}
{% else %}
{% endif %}

{% if data["start-crime"] == "s24"%}
  {% if data["sub-crime"] == "idp"%}
  {% else %}

              <li class="app-task-list__item">
    {% if data["sis-person-done"] == "Yes" %}
                <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/list.html" aria-describedby="contact-details-status">
                  Add a person
                </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
                <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/details" aria-describedby="contact-details-status">
                  Add a person
                </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
              </li>
  {% endif %}
{% else %}
{% endif %}

{% if data["start-crime"] == "idp" or data["sub-crime"] == "idp"%}
 

              <li class="app-task-list__item">
  {% if data["sis-person-done"] == "Yes" %}
      <span class="app-task-list__task-name">
        <a href="/purple/current/task/person/idp/list" aria-describedby="contact-details-status">
          Add a person
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
  {% else %}
      <span class="app-task-list__task-name">
          <a href="/purple/current/task/person/idp/type" aria-describedby="contact-details-status">
            Add a person 
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
  {% endif %}

{% else %}
{% endif %}

{% if data["start-crime"] == "document-fraud" and data["sub-crime"] == "idp" or data["idp-involved"] == "Yes" %}

              <li class="app-task-list__item">
  {% if data["sis-person-done"] == "Yes" %}
      <span class="app-task-list__task-name">
        <a href="/purple/current/task/person/idp/list" aria-describedby="contact-details-status">
          Add a person
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
  {% else %}
      <span class="app-task-list__task-name">
          <a href="/purple/current/task/person/idp/same-details" aria-describedby="contact-details-status">
            Add a person 
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
  {% endif %}
{% else %}
{% endif %}
            <!--END-->

            <!--MODERN SLAVERY PERSON LINKS-->
{% if data["start-crime"] == "slavery" %}
  {% if data["sub-crime"] == "idp"%}
  {% else %}
              <li class="app-task-list__item">
    {% if data["sis-person-done"] == "Yes" %}
              <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/slavery/list.html" aria-describedby="contact-details-status">
                  Add a person
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
              <span class="app-task-list__task-name">
                <a href="/purple/current/task/person/slavery/type.html" aria-describedby="contact-details-status">
                  Add a person
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/group/details" aria-describedby="contact-details-status">
                    Add an organised crime group
                  </a>
                </span>
      {% if data["sis-group-done"] == "Yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
      {% endif %}
              </li>
  {% endif %}
{% else %}
{% endif %}
            <!--END-->
    
{% if data["start-crime"] == "terrorism" %}
  {% if data["sub-crime"] == "idp"%}
  {% else %}
              <li class="app-task-list__item">
    {% if data["sis-person-done"] == "Yes" %}
      <span class="app-task-list__task-name">
        <a href="/purple/current/task/person/list" aria-describedby="contact-details-status">
          Add a person
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
      <span class="app-task-list__task-name">
          <a href="/purple/current/task/person/type.html" aria-describedby="contact-details-status">
            Add a person 
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
       <li class="app-task-list__item">
      {% if data["sis-group-done"] == "Yes" %}
      <span class="app-task-list__task-name">
        <a href="/purple/current/task/main/terrorism/list" aria-describedby="contact-details-status">
          Add a group
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
      <span class="app-task-list__task-name">
          <a href="/purple/current/task/main/terrorism/type" aria-describedby="contact-details-status">
            Add a group
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
      {% endif %}
       <li class="app-task-list__item">
        {% if data["sis-location-done"] == "Yes" %}
      <span class="app-task-list__task-name">
        <a href="" aria-describedby="contact-details-status">
          Add a location
        </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
        {% else %}
      <span class="app-task-list__task-name">
          <a href="/purple/current/task/main/terrorism/address" aria-describedby="contact-details-status">
            Add a location 
          </a>
      </span>
      <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
        {% endif %}
  {% endif %}
{% else %}
{% endif %}

       
{% if data["start-crime"] == "illegal-working" or data["start-crime"] == "facilitation" or data["start-crime"] == "marriage" or data["start-crime"] == "slavery" or data["start-crime"] == "overstayer" or data["start-crime"] == "deception" or data["start-crime"] == "idp" or data["sub-crime"] == "idp" or data["idp-involved"] == "Yes" or data["start-crime"] == "s24" or data["start-crime"] == "document-fraud"  or data["start-crime"] == "smuggling" or data["start-crime"] == "terrorism" %}
{% else %}
              <li class="app-task-list__item"> 
  {% if data["sis-business-done"] == "Yes" %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/business/list.html" aria-describedby="contact-details-status">
                    Add a business
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
  {% else %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/business/business.html" aria-describedby="contact-details-status">
                    Add a business
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
  {% endif %}
                </li>
    
{% endif %}

{% if data["start-crime"] == "smuggling" %}
                <li class="app-task-list__item">
                  {% if data["sis-location-done"] == "Yes" %}
                    <span class="app-task-list__task-name">
                      <a href="/purple/current/task/main/smuggling/list" aria-describedby="contact-details-status">
                        Add a location
                      </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
                      {% else %}
                    <span class="app-task-list__task-name">
                        <a href="/purple/current/task/main/smuggling/address" aria-describedby="contact-details-status">
                          Add a location 
                        </a>
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
                  {% endif %}
                </li>


<li class="app-task-list__item">
   {% if data["sis-smuggling-vehicles-done"] == "Yes" %}
               
    
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/smuggling/vehicles/list" aria-describedby="read-declaration-status">
                    Add a vehicle
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/smuggling/vehicles/details" aria-describedby="read-declaration-status">
                   Add a vehicle
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
     
      {% endif %}

</li>
{% endif %}

{% if data["start-crime"] == "other" or data["start-crime"] == "illegal-working" or data["start-crime"] == "conditions" %}
  {% if data["sub-crime"] == "idp"%}
  {% else %}
              <li class="app-task-list__item">
    {% if data["sis-ed-done"] == "Yes" %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/education/list" aria-describedby="read-declaration-status">
                    Add an educational establishment
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
    {% else %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/education/details" aria-describedby="read-declaration-status">
                    Add an educational establishment
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
    {% endif %}
              </li>
  {% endif %}
{% else %}{% endif %}
{% if data["start-crime"] == "other" %}
 <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/group/details" aria-describedby="contact-details-status">
                    Add an organised crime group
                  </a>
                </span>
      {% if data["sis-group-done"] == "Yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
      {% endif %}
              </li>

 {% else %}
{% endif %}  
          </ul>
        </li>



      <li>
          <h2 class="app-task-list__section">
{% if data["start-crime"] == "document-fraud" and data["idp-involved"] == "No"  %}
            <span class="app-task-list__section-number">4. </span> About the offence

{% else %}
            <span class="app-task-list__section-number">5. </span> About the offence
{% endif %}
          </h2>

        <ul class="app-task-list__items">
       
{% if data["start-crime"] == "smuggling" %}

<li class="app-task-list__item">
   {% if data["sis-smuggling-details-done"] == "Yes" %}
               
    
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/smuggling/details/check-answers" aria-describedby="read-declaration-status">
                    Smuggling details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/smuggling/details/details" aria-describedby="read-declaration-status">
                   Smuggling details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
     
      {% endif %}

</li>
{% endif %}


{% if data["start-crime"] == "terrorism" %}
  {% if data["sub-crime"] == "idp"%}
  {% else %}  
{% if data["sis-person-done"] == "Yes" or data["sis-group-done"] == "Yes" or data["sis-location-done"] == "Yes" %}

<li class="app-task-list__item">
   {% if data["sis-terrorism-activities-done"] == "Yes" %}
               
    
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/terrorism/travel/list" aria-describedby="read-declaration-status">
                    Terrorism, radicalisation or national security details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
      {% else %}
                <span class="app-task-list__task-name">
                  <a href="/purple/current/task/main/terrorism/travel/start" aria-describedby="read-declaration-status">
                   Terrorism, radicalisation or national security details
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
     
      {% endif %}

</li>

{% else %}
<li class="app-task-list__item">
  <span class="app-task-list__task-name">
    <p style="margin-bottom: 0;">
     Terrorism, radicalisation or national security details
    </p>
  </span>
  <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Cannot start yet</strong>
</li>
{% endif %}
      {% endif %}
{% else %}
{% endif %}
 {% include "purple/current/templates/sis-main-offence.html" %}
        {% include "purple/current/templates/sis-sub-offence.html" %}


{% if data["start-crime"] == "housing" or data["start-crime"] == "conditions" or data["start-crime"] == "clandestine" or data["start-crime"] == "document-fraud" or data["start-crime"] == "facilitation" or data["start-crime"] == "illegal-working" or data["start-crime"] == "idp" or data["start-crime"] == "deception" or data["start-crime"] == "slavery" or data["start-crime"] == "overstayer" or data["start-crime"] == "rep-abuse" or data["start-crime"] == "marriage" or data["start-crime"] == "other" %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/purple/current/task/main/funds/abuse" aria-describedby="eligibility-status">

              Public and private funds abuse

            </a>
          </span>
          {% if data["sis-funds-done"] == "Yes" %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
          {% endif %}
        </li>
             
{% else %}
{% endif %}

        {% if data["sis-main-offence-done"] == "Yes" or data["sis-main-doc-details"] == "Yes" or data["sis-main-doc-details2"] == "Yes" or data["sis-main-offence-slavery-done"] == "Yes"  or data["sis-main-offence-victim-done"] == "Yes" or data["sis-main-doc-details2"] == "Yes" or data["sis-main-offence-slavery-done"] == "Yes"  or data["sis-housing-done"] == "Yes" or data["sis-immigration-done"] == "Yes" or data["sis-terrorism-activities-done"] == "Yes" %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/purple/current/task/main/extra" aria-describedby="eligibility-status">

              Additional information

            </a>
          </span>
          {% if data["sis-extra-done"] == "Yes" %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
          {% endif %}
        </li>
        {% else %}
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <p style="margin-bottom: 0;">
              Additional information
            </p>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Cannot start yet</strong>
        </li>
        {% endif %}

        <!-- END -->

        </ul>
      </li>

        <li>
          <h2 class="app-task-list__section">
            {% if data["start-crime"] == "document-fraud" and data["idp-involved"] == "No" %}
            <span class="app-task-list__section-number">5. </span> Upload evidence
            {% else %}
            <span class="app-task-list__section-number">6. </span> Upload evidence
            {% endif %}
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data["sis-docs-done"] == "Yes" %}
              <span class="app-task-list__task-name">
                <a href="/purple/current/task/docs/list.html" aria-describedby="contact-details-status">
                Upload documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
              {% else %}
              <span class="app-task-list__task-name">
                <a href="/purple/current/task/docs/doc-upload.html" aria-describedby="contact-details-status">
                Upload documents
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            {% if data["start-crime"] == "document-fraud" and data["idp-involved"] == "No" %}
            <span class="app-task-list__section-number">6. </span> Related intelligence
            {% else %}
            <span class="app-task-list__section-number">7. </span> Related intelligence
            {% endif %}
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/purple/current/task/actions/details" aria-describedby="eligibility-status">
                Related intelligence
                </a>
              </span>
              {% if data["sis-actions-done"] == "Yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-completed">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            {% if data["start-crime"] == "document-fraud" and data["idp-involved"] == "No" %}
            <span class="app-task-list__section-number">7. </span> Submit form
            {% else %}
            <span class="app-task-list__section-number">8. </span> Submit form
            {% endif %} 
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data["sis-actions-done"] == "Yes" %}
                <a href="/purple/current/complete/declaration" aria-describedby="eligibility-status">
                Send to Intelligence teams to investigate
                </a>
                {% else %}
                <p style="margin-bottom: 0;">Send to Intelligence teams to investigate</p>
                {% endif %}
              </span>
              {% if data["sis-actions-done"] == "Yes" %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Not started</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag app-task-list__tag-not-started">Cannot start yet</strong>
              {% endif %}
            </li>
          </ul>
        </li>

  <p style="margin-bottom: 0;">If you no longer want to continue, <a href="/purple/current/complete/delete" aria-describedby="eligibility-status">delete your answers</a>.</p>
      </ol>

    </div>
  </div>

{% endblock %}
