<h2 class="govuk-heading-l">Case history</h1>
<div class="hods-timeline">
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Note added
    </h2>
     <p class="hods-timeline__by">
      by Douglas Pollock
    </p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-03-15T16:27:00.000Z"
      >
        25 March 2025 at 4:28pm
      </time>
    </p>
    <p class="hods-timeline__description">
      "Time sensitive, but no harm to life"
  </div>
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Harm level set to <strong class="govuk-tag govuk-tag--yellow">
          Amber
        </strong>
    </h2>
     <p class="hods-timeline__by">
      by Douglas Pollock
    </p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-03-15T16:27:00.000Z"
      >
        25 March 2025 at 4:27pm
      </time>
    </p>
    <p class="hods-timeline__description">
  </div>
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Case taken
    </h2>
    <p class="hods-timeline__by">
      by Douglas Pollock
    </p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-03-15T10:04:00.000Z"
      >
        26 March 2025 at 10:04am
      </time>
    </p>
    <p class="hods-timeline__description">
      
    </p>
  </div>
  <div class="hods-timeline__item">
    <h2 class="hods-timeline__title">
      Allegation received into Duty queue
    </h2>
    <p class="hods-timeline__by">System update</p>
    <p class="hods-timeline__date">
      <time
        class="hods-date-time"
        datetime="2021-01-25T09:35:00.000Z"
      >
        25 March 2025 at 9:35am
      </time>
    </p>
    <p class="hods-timeline__description">
      
    </p>
  </div>
</div>

{% include "/purple/includes/history-note.html" %}