<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
{% if data["start-crime"] == "s24" %}
    <h2 class="govuk-summary-card__title">Party 1</h2>
{% else %}
   <h2 class="govuk-summary-card__title">Person 1</h2>
     <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
          Delete<span class="govuk-visually-hidden"> person 1</span>
        </a>
      </li>
    </ul>
{% endif %}

  
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
{% if data["start-crime"] == "s24" %}
{% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Person's role
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person-role'] }}
          {{ data['sis-doc-suspect'] }}
          {{ data['sis-rep-suspect'] }}
          {{ data['sis-sham-person'] }}
          {{ data['sis-role-of-person'] }}
          {{ data['sis-housing-person'] }}
         {{ data['sis-s24-person'] }}
         {{ data['sis-terrorism-person'] }}
          {{ data['sis-other-person'] }}
             {{ data['sis-facilitation-person'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="type">
          Change<span class="govuk-visually-hidden">person's role</span>
        </a>
        </dd>
      </div>
{% endif %}
      {% if data["sis-sham-person"] == "Other" %} 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Details about the person's role
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['marriageOther'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="type">
          Change<span class="govuk-visually-hidden">person's role</span>
        </a>
        </dd>
      </div>
      {% else %}{% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Given names
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-first-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">given names</span>
        </a>
      </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Surname
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-surname'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">surname</span>
        </a>
      </dd>
      </div>

      {% if data["sis-person1-info"] == "yes" %} 
      {% if data["sis-rep-suspect"] == "Legal representative" %}{% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other names
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-alias'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden"> Other names</span>
        </a>
      </dd>
      </div>
      {% endif %}
      {% else %}{% endif %}

      {% if data["sis-rep-suspect"] == "Legal representative" %}{% else %}

      {% if data["sis-person1-age"] == "" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["sis-rep-suspect"] == "Client" %}
          {{ data['sis-person1-dob'] }} 
          {% else %}
      
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">approximate age</span>
        </a>
      </dd>
      </div>
      
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Aproximate age
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["sis-rep-suspect"] == "Client" %}
          {{ data['sis-person1-age'] }} 
          {% else %}
          {{ data['sis-person1-age'] }} 
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">approximate age</span>
        </a>
      </dd>
      </div>
      {% endif %}

      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-sex'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">sex</span>
        </a>
      </dd>
      </div>

      {% if data["sis-rep-suspect"] == "Legal representative" %}{% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Country of nationality
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-country'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">Country of nationality</span>
        </a>
      </dd>
      </div>
      {% endif %}


      {% if data["sis-rep-suspect"] == "Legal representative" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business or agency name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-rep-biz-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">business or agency name</span>
        </a>
        </dd>
      </div>
      {% else %}
      {% endif %}

      {% if data["start-crime"] == "housing" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Identity document number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person-id-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">
          Change<span class="govuk-visually-hidden">answer</span>
        </a>
        </dd>
      </div>

          {% else %}

          {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">email address</span>
        </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">phone number</span>
        </a>
        </dd>
      </div>
    {% if data["start-crime"] == "terrorism" %}
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Social media or gaming details
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-social-gaming'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">home Office reference number</span>
        </a>
      </dd>
      </div>

    {% else %}
      {% endif %}
      {% if data["sis-person1-info"] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Home Office reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['s24-person-ho-ref1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">home Office reference number</span>
        </a>
      </dd>
      </div>
      {% else %}
      {% endif %}
 {% if data["start-crime"] == "s24" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          GRO reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['s24-person-gro-ref'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      {% else %}
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address known
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-address-known'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">home Office reference number</span>
        </a>
      </dd>
      </div>

      {% if data["sis-person1-address-known"] == "Yes" or data["sis-rep-suspect"] == "Legal representative"%}
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address in the UK
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">address in the UK</span>
        </a>
        </dd>
      </div>
{% if data["start-crime"] == "s24" %}{% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-person1-uk-address-type'] }}

          {% if data["sis-person1-uk-address-typeb"] == "" %}{% else %}
          <br/>{{ data['sis-person1-uk-address-typeb'] }}{% endif %}

          {{ data['sis-person1-int-address-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="address">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
     {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if data["sis-rep-suspect"] == "Legal representative" %}
          Business address
          {% else %}
          Address
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          
          {% if data["sis-person1-address-uk"] == "Yes" %}


          {% if data["sis-person1-address-uk-1"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-1'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-2"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-2'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-city-1"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-city-1'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-county-1"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-county-1'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-postcode-1"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-postcode-1'] }}<br/>{% endif %}

          <!-- 2nd address start -->

          {% if data["sis-person1-address-uk-1b"] == "" %}{% else %}
          <br/>{{ data['sis-person1-address-uk-1b'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-2b"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-2b'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-city-1b"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-city-1b'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-county-1b"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-county-1b'] }} <br/>{% endif %}

          {% if data["sis-person1-address-uk-postcode-1b"] == "" %}{% else %}
          {{ data['sis-person1-address-uk-postcode-1b'] }}{% endif %}

           <!-- 2nd address end -->

          {% else %}
          
          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-country"] == "" %}{% else %}
          {{ data['sis-country'] }}{% endif %}


          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data["start-crime"] == "rep-abuse"%}
          <a class="govuk-link" href="contact"> 
          Change<span class="govuk-visually-hidden">home address</span>
          </a>
          {% else %}
          <a class="govuk-link" href="address"> 
          Change<span class="govuk-visually-hidden">home address</span>
           </a>
          {% endif %}
        </dd>
      </div>

      
      {% else %}
      {% endif %}


      {% if data["sis-person1-address"] == "sis-address-int" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of address
        </dt>
        <dd class="govuk-summary-list__value">
          International address
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="contact">
          Change<span class="govuk-visually-hidden">type of address</span>
        </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address1"] == "" %}{% else %}
          {{ data['sis-person1-int-address1'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-person1-int-address4"] == "" %}{% else %}
          {{ data['sis-person1-int-address4'] }} <br/>{% endif %}

          {% if data["sis-country"] == "" %}{% else %}
          {{ data['sis-country'] }}{% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="address">
          Change<span class="govuk-visually-hidden">home address</span>
        </a>
        </dd>
      </div>
      {% else %}
      {% endif %}
       {% if data["start-crime"] == "s24" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of document
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-s24-doc-one-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">Type of document</span>
        </a>
      </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-s24-docs1-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="details">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      {% else %}
      {% endif %}
      {% if data["start-crime"] == "terrorism" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of document
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-terrorism-doc-one-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/person/terrorism/type">
          Change<span class="govuk-visually-hidden">Type of document</span>
        </a>
      </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Document number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-terrorism-docs1-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/person/terrorism/type">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
   <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Country of issue
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-country'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/person/terrorism/type">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
         <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of issue
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['terrorism-date-issue'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/person/terrorism/type">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa or permission
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sisVisaType'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/visa-type">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Occupation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['terrorism-person-occupation'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
  
      
       
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Main subjects
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['person-study'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>

       
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of occupation
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['other-occupation'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['person-company-name2'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation2">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
  <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sector
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['sis-other-biz-sector'] }}{{ data['sis-sector-list'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
     
      

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['person-company-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['person-company-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Educational establishment name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['education-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Educational establishment email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['education-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Educational establishment phone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['education-phone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/pink/current/task/main/terrorism/occupation">
          Change<span class="govuk-visually-hidden">GRO reference number</span>
        </a>
      </dd>
      </div>
      

      {% else %}
      {% endif %}

    </dl>
  </div>
</div>
