



<div class="govuk-form-group">
  <label class="govuk-label" for="fruit-type">
    <strong>What is the location of this allegation?</strong>
  </label>
  <select name="fruit-type" id="fruit-type">
    <option selected="selected"></option>
    <option value="Avon">Avon</option>
    <option value="Bedfordshire">Bedfordshire</option>
    <option value="Berkshire">Berkshire</option>
    <option value="Buckinghamshire1">Buckinghamshire (Amersham, Aylesbury, Bletchley, High Wycombe, Milton Keynes, Newport Pagnell)</option>
    <option value="Buckinghamshire2">Buckinghamshire (between MK1-MK19 and MK40-MK46)</option>
    <option value="Cambridgeshire">Cambridgeshire</option>
    <option value="Cheshire">Cheshire</option>
    <option value="Cornwall">Cornwall</option>
    <option value="CountyDurham">County Durham</option>
    <option value="Cumbria">Cumbria</option> 
    <option value="Derbyshire">Derbyshire</option>
    <option value="Devon">Devon</option>
    <option value="Dorset">Dorset</option>
    <option value="Essex1">Essex (not Thurrock & Basildon)</option>
    <option value="Essex2">Essex (Basildon and Thurrock only)</option>
    <option value="Essex3">Essex (Romford, Dagenham, Ilford, Barking only)</option>
    <option value="Gloucestershire">Gloucestershire</option>
    <option value="GreaterManchester">Greater Manchester</option>
    <option value="Hampshire">Hampshire</option>
    <option value="Herefordshire">Herefordshire</option>
    <option value="Hertfordshire">Hertfordshire</option>
    <option value="IsleofMan">Isle of Man</option>
    <option value="IsleofWight">Isle of Wight</option>
    <option value="Kent1">Kent (Erith, Bromley, Orpington, Sidcup, Welling)</option>
    <option value="Kent2">Kent (not Erith, Bromley, Orpington, Sidcup, Welling)</option>
    <option value="Lancashire1">Lancashire (Morecombe & Lancaster)</option>
    <option value="Lancashire2">Lancashire (Rest of)</option>
    <option value="Leicestershire">Leicestershire</option>
    <option value="Lincolnshire">Lincolnshire</option>
    <option value="LondonSouth (Bexley, Bromley, Croydon, Greenwich, Kingston, Merton, Lewisham, Richmond, Sutton, Wandsworth)">London South (Bexley, Bromley, Croydon, Greenwich, Kingston, Merton, Lewisham, Richmond, Sutton, Wandsworth)</option>
    <option value="LondonCentral">London Central (Camden, City of London, Hackney, Hammersmith & Fulham, Islington, Kensington & Chelsea, Lambeth, Southwark, Tower Hamlets, Westminster) ** City of London is covered by City of London Police not Met**</option>
    <option value="LondonWest">London West (Barnet, Brent, Ealing, Harrow, Hillingdon inc Heathrow, Hounslow)</option>
    <option value="LondonNorth">London North (Enfield, Haringey, Waltham Forest)</option>
    <option value="LondonEast">London East (Barking & Dagenham, Havering, Newham, Redbridge)</option>
    <option value="Merseyside">Merseyside</option>
    <option value="Norfolk">Norfolk</option>
    <option value="NorthWales">North Wales</option>
    <option value="Northamptonshire">Northamptonshire</option>
    <option value="NorthernIreland">Northern Ireland</option>
    <option value="Northumberland">Northumberland</option>
    <option value="Nottinghamshire">Nottinghamshire</option>
    <option value="Oxfordshire1">Oxfordshire (Cherwell, Vale of White Horse, Chiltern)</option>
    <option value="Oxfordshire2">Oxfordshire</option>
    <option value="Scotland">Scotland</option>
    <option value="Shropshire">Shropshire</option>
    <option value="Somerset">Somerset</option>
    <option value="Staffordshire">Staffordshire</option>
    <option value="Suffolk">Suffolk</option>
    <option value="Surrey ">Surrey</option>
    <option value="Sussex">Sussex</option>
    <option value="TyneandWear">Tyne and Wear</option>
    <option value="Wales">Wales</option>
    <option value="North Wales">North Wales</option>
    <option value="Warwickshire">Warwickshire</option>
    <option value="West Midlands">West Midlands</option>
    <option value="Wiltshire">Wiltshire</option>
    <option value="Worcestershire">Worcestershire</option>
    <option value="Yorkshire">Yorkshire</option>
  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="crime-type">
    <strong>What is the immigration crime type?</strong>
  </label>
  <select class="govuk-select" name="crime-type" id="crime-type">
    <option selected="selected"></option>
    <option value="1">OIU - Any allegation with information falling within the definition of 'harm' - IHM Red or Amber</option>
    <option value="1">OIU Report - IHM Green - Illegal Working (less than 3 offenders)</option>
    <option value="1">OIU Report - IHM Green - Sham Marriages (NOT S24)</option>
    <option value="1">OIU Report - IHM Green -  Overstayers</option>
    <option value="1">OIU Report - IHM Green - Working in Breach</option>
    <option value="1">OIU Report - IHM Green -  Illegal Entry</option>
    <option value="1">OIU Report - IHM Green -  Document Abuse (limited details) does not meet package threshold</option>

    <option value="1">ICE Internal Referral (States For Info Only ) ICE Internal Referrals (states pass to OIU/anything else - Less than 3 offenders)</option>
    <option value="1">ICE Internal Referrals (states pass to OIU/anything else - minimum 3 offenders)</option>

    <option value="1">OIU Package - IHM Green - minimum of 3 named offenders</option>
    <option value="1">OIU Package - IHM Green - Document Abuse - contains details or copies of forged documentation</option>
    <option value="1">OIU Package - IHM Green - Premises is a large building, company, enterprise, national chain or HMO</option>
    <option value="1">OIU Package - IHM Green - Place of work is construction, warehouse, distribution, manufacturing or food production (not restaurants or takeaways)</option>
    <option value="1">OIU Package - IHM Green - more than 1 linked business premises (via ownership or franchise)</option>

    <option value="1">Marriage Abuse - S24 No Outcome on Atlas  Marriage Abuse - S24 Green Outcome on Atlas (Actionable Immigration Offence)</option>
    <option value="1">Marriage Abuse - S24 Green Outcome on Atlas (Unactionable Immigration Offence)</option>
    <option value="1">Marriage Abuse - S24 Red Outcome on Atlas</option>

    <option value="1">Organised Immigration Crime</option>

    <option value="1">Small Boats - Out of Hours Public Allegations (17:00pm to 07:00am)</option>
    <option value="1">Small Boats (All referrals and public allegations)</option>

    <option value="1">CWI - Immigration abuse associated with solicitors, barristers, immigration advisers, doctors, medical professionals, accountants, Op Berabat)</option>
    <option value="1">CWI - IHM Red or Amber - Visa Abuse - Work - Sponsored / Work - Non-Sponsored / Study / Settlement (Marriage & Family) / UKR  (see CWI Route & Threat Guide)</option>
    <option value="1">CWI - IHM Green - Visa Abuse - Work - Sponsored / Work - Non-Sponsored / Study / Settlement (Marriage & Family) / UKR  (see CWI Route & Threat Guide)</option>
    <option value="1">CWI - IHM Red or Amber - Visa Abuse - Family Reunion / Visits  (see CWI Route & Threat Guide)</option>
    <option value="1">CWI - IHM Green -Visa Abuse - Family Reunion / Visits  (see CWI Route & Threat Guide)</option>
    <option value="1">CWI - IHM Red or Amber - Visa Abuse - Nationality, BNO, COE, Overseas Domestic Workers (see CWI Route & Threat Guide)</option>
    <option value="1">CWI - IHM Green - Visa Abuse - Nationality, BNO, COE, Overseas Domestic Workers (see CWI Route & Threat Guide)</option>

    <option value="1">Facilitation (source CFI Airport)</option>

    <option value="1">CFI Internal Referral (Harm - no SIP required)</option>
    <option value="1">CFI Internal Referral (No Harm)</option>

    <option value="1">CDT - IHM Red or Amber Public Allegation only- Clandestine Entry (NOT small boats)</option>
    <option value="1">CDT - Any IHM - from External Law Enforcement (Police, HMRC, DWP) - Clandestine Entry (NOT small boats)</option>
    <option value="1">CDT - IHM Green - Clandestine Entry (Not Small Boats)</option>
    <option value="1">CDT - IHM Red or Amber Public Allegation - Facilitation by Air</option>
    <option value="1">CDT - Any IHM - from External Law Enforcement (Police, HMRC, DWP) - Facilitation by Air</option>
    <option value="1">CDT - IHM Green Public Allegation - Facilitation by Air</option>
    <option value="1">CDT - IHM Red or Amber Public Allegation - Document Production & Supply</option>
    <option value="1">CDT - Any IHM - Document Production & Supply (from External Law Enforcement Police, HMRC, DWP)</option>
    <option value="1">CDT - IHM Green Public Allegation - Document Production & Supply</option>

    <option value="1">CWI - IHM Red or Amber - cases linked to actual or suspected visa or status abuse- EUSS Visas</option>
    <option value="1">CWI - IHM Green - cases linked to actual or suspected visa or status abuse - EUSS All allegations relating to Staff/ OGD/ Police employees</option>
    <option value="1">CWI - IHM Red or Amber - CoS Abuse (Skilled Workers)</option>
    <option value="1">CWI - IHM Green - CoS Abuse (Skilled Workers)</option>
    <option value="1">CWI - IHM Red & Amber: radicalisation and/or terrorism in-country - OP CHECKSTONE</option>
    <option value="1">CWI - IHM Red & Amber: radicalisation, terrorism, national security, espionage - Out of Country - OP Hartseed, Erodent Vingolf, Tearlet, Poetdom  Common Travel Area (CTA) Abuse  Document Fraud - Prosecutions (normally from DWP, etc)</option>
      </select>
</div>

