<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Set case level
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="harmLevel" name="harmLevel" type="radio" value="red">
        <label class="govuk-label govuk-radios__label" for="harmLevel">
          Red
        </label>
        <div id="harmLevel-item-hint" class="govuk-hint govuk-radios__hint">
          ALL information containing the HIGH HARM serious injury/death, serious exploitation, or activity with adverse impact on individuals, the public, communities, the Home Office
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Examples of red cases:
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Drugs (importing into country)</li>
                <li>Loss of life</li>
                <li>Murder</li>
                <li>Terrorism/ Radicalisation/ National Security</li>
                <li>War crimes</li>
                <li>Exploitation Modern Slavery (including prostitution into the country)</li>
                <li>Human Trafficking</li>
                <li>Child abuse or Child(ren) at risk</li>
                <li>Firearm and knife offences</li>
                <li>Kidnap</li>
                <li>Violent crime (excluding common assault)</li>
                <li>Sexual offences</li>
                <li>Threats to life, abuses and harassment</li>
                <li>Care Home – Safeguarding/abuse concerns against patients or the staff (including physical, intimidation, working practices etc)</li>
              </ul>
            </div>
          </details>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="harmLevel-2" name="harmLevel" type="radio" value="amber">
        <label class="govuk-label govuk-radios__label" for="harmLevel-2">
          Amber
        </label>
         <div id="harmLevel-item-hint" class="govuk-hint govuk-radios__hint">
          TIME SENSITIVE Information which indicates activity contrary to immigration law, which may contain elements of HARM
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Examples of Amber cases:
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Urgent time sensitive cases with no harm - e.g individual leaving the country in a week or attending the port/airports within the next few days </li>
                <li>Drug offences (dealing/possession)  </li>
                <li>Facilitation- Organised Group or Individuals </li>
                <li>Robbery/burglary </li>
                <li>Assault – common </li>
                <li>Control of prostitution – within UK </li>
                <li>Driving Offences – e.g no licence or insurance   </li>
                <li>Breach of Deportation Order - OIU </li>
                <li>Care Home – details of a Care Home/ Recruitment Agency providing illegal workers/false documents/ imposters </li>
                <li>Harm/Criminal offence abroad  - outstanding warrant  </li>
                <li>HMO - only if harm/abuse is mentioned </li>
              </ul>
            </div>
          </details>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="harmLevel-3" name="harmLevel" type="radio" value="green">
        <label class="govuk-label govuk-radios__label" for="harmLevel-3">
          Green
        </label>
         <div id="harmLevel-item-hint" class="govuk-hint govuk-radios__hint">
          Information that indicates activity contrary to immigration law but does not contain elements of HARM outside of this
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Examples of Green cases:
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Illegal working </li>
                <li>Student/working in breach of visa </li>
                <li>Asylum support fraud </li>
                <li>Facilitation – local e.g family members </li>
                <li>Clandestine entry </li>
                <li>Deception to gain leave to remain </li>
                <li>Forgery/identity card offences </li>
                <li>Overstayer </li>
                <li>Previous criminal convictions overseas (other than those listed) </li>
                <li>Prostitution (individual – no control indicators noted) </li>
                <li>Care Home – Overstayer/incorrect visa type/WIB </li>
                <li>Sponsorship Abuse </li>
                <li>HMO’s </li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="harmLevel-4" name="harmLevel" type="radio" value="white">
        <label class="govuk-label govuk-radios__label" for="harmLevel-4">
          White
        </label>
         <div id="harmLevel-item-hint" class="govuk-hint govuk-radios__hint">
          Non immigration related information, no high harm 
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Examples of White cases:
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li>Non-immigration criminality such as; </li>
                <li>Tax evasion  </li>
                <li>Benefit abuse  </li>
                <li>Money Laundering </li>
              </ul>
            </div>
          </details>
        </div>
      </div>
      
    </div>
  </fieldset>
</div>
