{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Where is the illegal working happening?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/pink/current/sis-housing-location" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Where is the abuse of access to housing taking place?
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-radios">
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="sis-housing-location-link" name="sis-housing-location-link" type="checkbox" value="sis-housing-address1">
                  <label class="govuk-label govuk-checkboxes__label" for="sis-housing-location-link">

                    {% if data["sis-person1-address-uk-1"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-1'] }}, {% endif %}

                    {% if data["sis-person1-address-uk-2"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-2'] }}, {% endif %}

                    {% if data["sis-person1-address-uk-city-1"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-city-1'] }}, {% endif %}
          
                    {% if data["sis-person1-address-uk-county-1"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-county-1'] }} {% endif %}
          
                    {% if data["sis-person1-address-uk-postcode-1"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-postcode-1'] }}{% endif %}

                  </label>
                </div>

                {% if data["sis-person1-address-uk-1b"] == "" %}{% else %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="sis-housing-location-link2" name="sis-housing-location-link" type="checkbox" value="sis-housing-address2">
                  <label class="govuk-label govuk-checkboxes__label" for="sis-housing-location-link">  
                    
                    {% if data["sis-person1-address-uk-1b"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-1b'] }}, {% endif %}

                    {% if data["sis-person1-address-uk-2b"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-2b'] }}, {% endif %}

                    {% if data["sis-person1-address-uk-city-1b"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-city-1b'] }}, {% endif %}
          
                    {% if data["sis-person1-address-uk-county-1b"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-county-1b'] }} {% endif %}
          
                    {% if data["sis-person1-address-uk-postcode-1b"] == "" %}{% else %}
                    {{ data['sis-person1-address-uk-postcode-1b'] }}{% endif %}

                  </label>
                </div>
                {% endif %}

                {% if data["sis-biz-address-next"] == "Yes" %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="sis-housing-location-link3" name="sis-housing-location-link" type="checkbox" value="sis-housing-address3">
                  <label class="govuk-label govuk-checkboxes__label" for="sis-housing-location-link">  
                    
                    {% if data["sis-biz-address1-line1"] == "" %}{% else %}
                    {{ data['sis-biz-address1-line1'] }}, {% endif %}

                    {% if data["sis-biz-address1-line2"] == "" %}{% else %}
                    {{ data['sis-biz-address1-line2'] }}, {% endif %}

                    {% if data["sis-biz-address1-city"] == "" %}{% else %}
                    {{ data['sis-biz-address1-city'] }}, {% endif %}
          
                    {% if data["sis-biz-address1-county"] == "" %}{% else %}
                    {{ data['sis-biz-address1-county'] }} {% endif %}
          
                    {% if data["sis-biz-address1-postcode"] == "" %}{% else %}
                    {{ data['sis-biz-address1-postcode'] }}{% endif %}

                  </label>
                </div>
                {% else %}{% endif %}

                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="sis-housing-location-link4" name="sis-housing-location-link" type="checkbox" value="somewhere-else">
                  <label class="govuk-label govuk-checkboxes__label" for="sis-housing-location-link">
                    Somewhere else
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
