{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – What is the immigration offence?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<span class="govuk-caption-xl">Type of abuse</span>-->
    <h1 class="govuk-heading-l">What is the additional offence?</h1>

    <form class="form" action="/purple/current/sub-idp-route" method="post">

        {% include "purple/current/templates/sub-crime-list.html" %}

        <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="other" data-aria-controls="start-crime-conditional">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="start-crime-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Type of offence
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="" spellcheck="false" autocomplete="">
      </div>
    </div>

        <!--NOTE: this is an extension from the crime list template. DO NOT REMOVE -->
          </div>
        </fieldset>
        </div>
        <!-- End of extension -->

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
