{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Your session has timed out
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="complete" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<h1 class="govuk-heading-l">Your session has timed out</h1>

<p class="govuk-body">We have not saved your answers.</p>
<p class="govuk-body">Go to the homepage <a href="/pink/current/start/intro" rel="noreferrer noopener" class="govuk-link govuk-link--no-visited-state">to restart the form</a>.</p>

    </form>

  </div>
</div>

{% endblock %}
