<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Is there an additional offence?
      </h1>
    </legend>-->
    <div class="govuk-radios" data-module="govuk-radios" name="sis-crime" value="data["sis-crime"]">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="housing">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Abuse of access to housing
        </label>
      </div>
  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="conditions">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Breach of conditions
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="clandestine">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Clandestine entry
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="document-fraud">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Document fraud
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="facilitation">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Facilitation
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="illegal-working">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Illegal working
        </label>
      </div>
           <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="idp">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Inadequately documented passengers
        </label>
           <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
          This includes: denied boarding, inadequately documented arrival and non-genuine standard visitor
        </div>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="deception">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Leave by deception
        </label>
      </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="slavery">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Modern slavery and human trafficking
        </label>
      </div>
     <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="overstayer">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Overstaying visa
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="rep-abuse">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Representative abuse
        </label>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="s24">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Section 24
        </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
          This is for sham marriage or civil partnership referrals from register offices in Northern Ireland and Scotland
        </div>
      </div>
       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="marriage">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Sham marriage or civil partnership
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="start-crime" name="start-crime" type="radio" value="terrorism">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Terrorism, radicalisation or national security
        </label>
      </div>
    
    


<!-- NOTE: The following closing tags will be on the main page and not on this template in order to provide unique content:

    </div>
  </fieldset>
</div>

When you see this on the main page do not remove -->
