{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Illegal wortking details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

<form id="form-next" class="form" action="/pink/current/task/list" method="post" novalidate>

<!--<span class="govuk-caption-xl">Location</span>-->


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<h1 class="govuk-heading-l">Check your answers</h1>

    <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
      <h2 class="govuk-summary-card__title">Organised crime group 1</h2>
      <ul class="govuk-summary-card__actions">

        <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
            Delete<span class="govuk-visually-hidden"> offence</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group name
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["sis-ocg-name"] }} {{ data ["sis-group-name"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="date">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        

      </dl>
    </div>
  </div>

  <input type="hidden" id="sis-main-offence-done" name="sis-main-offence-done" value="Yes">
 <input type="hidden" id="sis-group-done" name="sis-group-done" value="Yes">
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  classes: "hods-button--secondary",
  text: "Add another group",
  href: "details2"
}) }}
<br>

  {{ govukButton({
    classes: "hods-button",
    text: "Continue"
  }) }}

  </form>

  </div>
  </div>

{% endblock %}
