{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – What is the role of this person?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="/purple/current/connecting-flight" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you have details about connecting journeys?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="connecting" name="connecting" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="connecting">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="connecting" name="connecting" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="connecting">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
<input type="hidden" id="sis-person1-info" name="sis-person1-info" value="Yes">
    {{ govukButton({
      text: "Continue"
    }) }}

    </form>


  </div>
</div>

{% endblock %}
