{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Who did you receive this intelligence from?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
Accessibility statement for Submit immigration and national security intelligence  
</h1>
 
<p>This accessibility statement applies to <a href="#" class="govuk-link">[LINK to homepage]</a>. </p>

<p>This website is run by the Home Office. We want as many people as possible to be able to use this website. For example, that means you should be able to: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts </li>
       <li>zoom in up to 300% without the text spilling off the screen </li>
       <li>navigate most of the website using just a keyboard </li>
      <li>navigate most of the website using speech recognition software </li>
       <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver) </li>
      </ul>
     

     <p>We have also made the website text as simple as possible to understand. <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet </a> has advice on making your device easier to use if you have a disability. </p>



  <h2 class="govuk-heading-m">How accessible this website is </h2>

<p>We know some parts of this website are not fully accessible. For example:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>XXXX</li>
             <li>XXXX</li>
                     <li>XXXX</li>
      </ul>

<p>You can see a full list of any issues we currently know about in the Non-accessible content section of this statement.</p>

<h2 class="govuk-heading-m">Feedback and contact information </h2>

<p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, contact [WHO???]. </p>

<p>We will consider your request and get back to you in [how many] days. </p>


<h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

<p>We are always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact <a href="#" class="govuk-link">hof-accessibility@digital.homeoffice.gov.uk</a></p>

<p class="govuk-body">
  <a href="http://www.w3.org/WAI/users/inaccessible" class="govuk-link">Read tips on contacting organisation about inaccessible websites</a>.
</p>

<h2 class="govuk-heading-m">Enforcement procedure</h2>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS).</a></p>

<p class="govuk-body">
 If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the <a href="https://www.equalityni.org/Home" class="govuk-link">Equalities Commission for Northern Ireland</a> who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’) in Northern Ireland.
</p>


<h2 class="govuk-heading-m">Technical information about this website’s accessibility </h2>

<p>The Home Office is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>

<h2 class="govuk-heading-m">Compliance status </h2>

<p class="govuk-body">
This website is fully / partially / not compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2 </a> AA standard, due to the non-compliances listed below. 
</p>

<h2 class="govuk-heading-m">Non-accessible content</h2>

<p>The content listed below is non-accessible for the following reasons. </p>

<h3 class="govuk-heading-s">Non-compliance with the accessibility regulations </h3>

<p>EXAMPLE: Images that convey meaning have empty alt text, meaning that this information is not exposed to screen reader users. This fails WCAG 2.1 success criterion 1.1.1 (non-text content). We plan to fix this by [xxxx]. </p>

<p>If you find an issue that we have yet to identify, please contact us using one of the routes described in the ‘Reporting accessibility problems with this website’ section of this statement. </p>

<h3 class="govuk-heading-s">Disproportionate burden</h3>

<p>At this time, we have not made any disproportionate burden claims.</p>

<h3 class="govuk-heading-s">Content that’s not within the scope of the accessibility regulations </h3>

<p>At this time, we have not identified any content that is not within scope of the accessibility regulations.</p>

<h2 class="govuk-heading-m">Preparation of this accessibility statement </h2>

<p>This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed]. </p>
<p>This website was last tested on [date]. Testing was carried out internally by the Home Office. </p>
<p>We tested the service based on a user's ability to complete key journeys. All parts of the chosen journeys were tested, including documents. Journeys were chosen on a number of factors including usage statistics, risk assessments and subject matter. </p>
{% endblock %}
