{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – What is the residential address where the illegal working is happening?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="list" method="post">


      <h1 class="govuk-heading-l">Location of the immigration offence</h1>
      <p class="govuk-body">Complete as much about the location as you can.</p>

      <h2 class="govuk-heading-m">Location details</h2>
     

{% set workOther %}
{{ govukInput({
  id: "work-other-location",
  name: "work-other-location",
  classes: "govuk-!-width-one-third",
  label: {
    text: "What is the type of location?"
  }
}) }}
{% endset -%}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "sis-working-location-type",
  value: data ["sis-working-location-type"],
  fieldset: {
    legend: {
      text: "Type of location"
    }
  },
  items: [
    {
      value: "Business",
      text: "Business"
    },
    {
      value: "Residential address",
      text: "Residential address"
    },
    {
      value: "Educational establishment",
      text: "Educational establishment"
    },
    {
      value: "Other type of location",
      text: "Other type of location",
      conditional: {
        html: workOther
      }
    },
    {
      divider: "or"
    },
    {
      value: "I do not know",
      text: "I do not know"
    }
  ]
}) }}

<label class="govuk-label" for="subject">
    If this is a business, what is the sector?
  </label>

{% include "pink/current/templates/ref-data/sis-sector-list.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "If the business sector is not on the list, what is the sector?"
  },
  id: "sis-biz-sector-new",
  name: "sis-biz-sector-new",
  classes: "govuk-!-width-two-thirds"
}) }}

<hr><br/>

<h2 class="govuk-heading-m">Contact</h2>

      {{ govukInput({
  label: {
    text: "Name of contact at location"
  },
  classes: "govuk-!-width-two-thirds",
  id: "event-name",
  name: "sis-working-location-contact",
  value: data ["sis-working-location-contact"]
}) }}

{{ govukInput({
label: {
text: "What is this person's role?"
},
hint: {
    text: "You could say business owner or landlord"
  },
classes: "govuk-!-width-two-thirds",
id: "event-name",
name: "sis-working-location-role",
value: data ["sis-working-location-role"]
}) }}

<hr><br/>
      {{ govukInput({
  label: {
    text: "Name of location",
classes: "govuk-label--m"
  },
  classes: "govuk-!-width-two-thirds",
  id: "sis-working-location-name",
  name: "sis-working-location-name",
  value: data ["sis-working-location-name"]
}) }}
{% include "pink/current/templates/other-location-form.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}


</form>

    </div>
  </div>

{% endblock %}
