{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – What is the role of this person?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form class="form" action="list" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which documents belong to this person?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="which-doc-2" name="which-doc-2" type="radio" value="{{ data ['sis-idp1-first-name'] }} {{ data ['sis-idp1-surname'] }} - {{ data ['sis-main-idp1-number'] }}">
        <label class="govuk-label govuk-radios__label" for="changedName">
          {{ data ['sis-idp1-first-name'] }} {{ data ['sis-idp1-surname'] }} - {{ data ['sis-main-idp1-number'] }}
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="which-doc2-2" name="which-doc-2" type="radio" value="{{ data ['sis-idp2-first-name'] }} {{ data ['sis-idp2-surname'] }} - {{ data ['sis-main-idp2-number'] }}">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          {{ data ['sis-idp2-first-name'] }} {{ data ['sis-idp2-surname'] }} - {{ data ['sis-main-idp2-number'] }}
        </label>
      </div>
    </div>
  </fieldset>
</div>
<input type="hidden" id="sis-person1-info" name="sis-person1-info" value="Yes">
    {{ govukButton({
      text: "Continue"
    }) }}

    </form>


  </div>
</div>

{% endblock %}
