{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Does the crime involve and vehicles, transport or travel?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/sis-smug-vehicles" method="post">

        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        
        {% set vehiclesHtml %}
          {{ govukCheckboxes({
            name: "smuggling-travel",
            fieldset: {
              legend: {
                text: "Specifiy the type of vehicles, transport or travel involved",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "Select all that apply"
            },
            items: [
              {
                value: "vehicle",
                text: "Vehicle"
              },
              {
                value: "boat",
                text: "Boat"
              },
              {
                value: "train",
                text: "Train"
              },
              {
                value: "aeroplane",
                text: "Aeroplane"
              },
              {
                value: "unknown",
                text: "I don't know"
              }
            ]
          }) }}
        {% endset -%}

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Does the crime involve any vehicles, transport or travel?
            </label>
          </h1>
        </legend>

        {{ govukRadios({
          name: "sis-smuggling-transport",
          value: data ["sis-transport"],
          fieldset: {
            legend: {
              text: ""
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: vehiclesHtml
              }
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "unsure",
              text: "I don't know"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
