{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Road vehicle details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="country" method="post">

        <!--<span class="govuk-caption-xl">Person 1</span>-->
        <h1 class="govuk-heading-l">Vehicle details</h1>

        <p class="govuk-body">Complete as much about the vehicle as you can.</p>

        <!--<div id="sign-in-hint" class="govuk-hint">
        For journeys with connecting flights, give details for the last connection that you are aware of
        </div>-->

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
        label: {
        text: "Vehicle registration number"
        },
        id: "sis-vehicle-reg",
        name: "sis-vehicle-reg",
        value: data ["sis-vehicle-reg"],
        classes: "govuk-input--width-20"
        }) }}

        {% include "purple/current/templates/ref-data/sis-vehicle-types.html" %}

        {{ govukInput({
        label: {
        text: "Make"
        },
        id: "sis-vehicle-make",
        name: "sis-vehicle-make",
        value: data ["sis-vehicle-make"],
        classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
        label: {
        text: "Model"
        },
        id: "sis-vehicle-model",
        name: "sis-vehicle-model",
        value: data ["sis-vehicle-model"],
        classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
        label: {
        text: "Colour"
        },
        id: "sis-vehicle-colour",
        name: "sis-vehicle-colour",
        value: data ["sis-vehicle-colour"],
        classes: "govuk-input--width-20"
        }) }}


        <input type="hidden" id="sis-cland-done" name="sis-cland-done" value="Yes">

        <input type="hidden" id="sis-offence-details-done" name="sis-offence-details-done" value="Yes">

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}


      </form>

    </div>
  </div>

{% endblock %}
