{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Is there danger to life, or are any children or vulnerable people at risk?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   <!--<span class="govuk-caption-xl">Safeguarding</span>-->

    <form class="form" action="/purple/current/idp-involved" method="post">

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "idp-involved",
      value: data["idp-involved"],
      fieldset: {
        legend: {
          text: "Are there any inadequately documented passengers involved?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}


    </form>

  </div>
</div>

{% endblock %}
