{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Document fraud details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<span class="govuk-caption-xl">Person 1</span>-->
      {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

      <form class="form" action="details2" method="post">

        {% call govukFieldset({
          legend: {
            text: "Document 2: Document number",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukInput({
            label: {
              text: ' '
            },
            classes: 'govuk-!-width-one-half',
            name: 'sis-main-idp2-number',
            value: data["sis-main-idp2-number"]
          }) }}


{% endcall %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

<input type="hidden" id="sis-doc-two-done" name="sis-doc-two-done" value="yes">

      </form>

    </div>
  </div>

{% endblock %}
