{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Illegal wortking details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

<form id="form-next" class="form" action="/purple/current/task/list" method="post" novalidate>

<!--<span class="govuk-caption-xl">Location</span>-->


{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<h1 class="govuk-heading-l">Check your answers</h1>
{% if data["secondary-offence-role"] == "Someone else" %}

       <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">

   <h2 class="govuk-summary-card__title">Illegal working details</h2>
     <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
          <span class="govuk-visually-hidden"> person 1</span>
        </a>
      </li>
    </ul>


  
  </div>
  <div class="govuk-summary-card__content">
        {% else %}{% endif %}
 

      <dl class="govuk-summary-list">
       {% if data["sis-event-done"] == "Yes" %}
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When did the illegal working happen?
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- {{ data ["sis-working-date"] }}-->
            {{ data ["sis-working-date"] }}
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="date">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exact date known
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-event-exact"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="details">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>

        {% if data["sis-working-future-date"] == "" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exact date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["doe"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="details">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Aproximate date or date range
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-working-future-date"] }}{{ data ["sis-working-past-date"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="details">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        {% endif %}
           {% else %}{% endif %} 
       {% if data["sis-event-done"] !== "Yes" %}
   <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Suspected of working illegally
          </dt>
          <dd class="govuk-summary-list__value">
       
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="secondary-role">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Details about the suspects
          </dt>
          <dd class="govuk-summary-list__value">
       Yes
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="secondary-role">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>


        {% else %}{% endif %} 


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location of the illegal working
          </dt>
          <dd class="govuk-summary-list__value">
            Waterstones<br/>
            203-206 Piccadilly<br/>
            St. James<br/>
            London<br/>
            W1J 9HD<br/>
            <br/>
            The Queens Arms<br/>
            5 South Street<br/>
            Pimlico
            <br/>London SW1 3EA
            <br/><br/>
            Somewhere else
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="link">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>




 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-working-location-type"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business sector
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-biz-sector"] }}{{ data ["sis-biz-sector-new"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of contact at location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-working-location-contact"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact person's role
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-working-location-role"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
               <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ["sis-working-location-name"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data["sis-location-other-address1"] == "" %}{% else %}
          {{ data['sis-location-other-address1'] }} <br/>{% endif %}

          {% if data["sis-location-other-address2"] == "" %}{% else %}
          {{ data['sis-location-other-address2'] }} <br/>{% endif %}

          {% if data["sis-location-other-city"] == "" %}{% else %}
          {{ data['sis-location-other-city'] }} <br/>{% endif %}

          {% if data["sis-location-other-county"] == "" %}{% else %}
          {{ data['sis-location-other-county'] }} <br/>{% endif %}

          {% if data["sis-location-other-postcode"] == "" %}{% else %}
          {{ data['sis-location-other-postcode'] }}{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>


      </dl>
    </div>
  </div>
{% if data["secondary-offence-role"] == "Someone else" %}
       {% include "purple/current/templates/summary/secondary-person1.html" %}
             {% else %}{% endif %} 
  <input type="hidden" id="sis-main-offence-done" name="sis-main-offence-done" value="Yes">

{% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    classes: "hods-button",
    text: "Continue"
  }) }}

  </form>

  </div>
  </div>

{% endblock %}
