{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – The person you are reporting
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<form class="form" action="/purple/current/s24-doc3-route" method="post">

{% if data["sis-person3-address-uk"] == "Yes" %}

<h1 class="govuk-heading-l">Person 3: UK address</h1>
<p class="govuk-body">Complete as much about the address as you can.</p>

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: " ",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "sis-person3-uk-address-type",
  id: "sis-person3-uk-address-type",
  fieldset: {
    legend: {
      text: "What type of address is this?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "Home address",
      text: "Home address"
    },
    {
      value: "Friends or family address",
      text: "Friends or family address"
    },
    {
      value: "Study address",
      text: "Study address"
    },
    {
      value: "Work address",
      text: "Work address"
    },
    {
      divider: "or"
    },
    {
      value: "Address",
      text: "I do not know"
    }
  ]
}) }}

{% endcall %}

<h2 class="govuk-heading-m">Address</h2>

  {{ govukInput({
    label: {
      text: 'Address line 1'
    },
    classes: "govuk-!-width-two-thirds",
    name: "sis-person3-address-uk-1",
    value: data ["sis-person3-address-uk-1"]
  }) }}

  {{ govukInput({
    label: {
      text: 'Address line 2'
    },
    classes: "govuk-!-width-two-thirds",
    name: "sis-person3-address-uk-2",
    value: data ["sis-person3-address-uk-2"]
  }) }}

  {{ govukInput({
    label: {
      text: 'Town or city'
    },
    classes: "govuk-!-width-two-thirds",
    name: "sis-person3-address-uk-city-1",
    value: data ["sis-person3-address-uk-city-1"]
  }) }}

  {{ govukInput({
    label: {
      text: 'County'
    },
    classes: "govuk-!-width-two-thirds",
    name: "sis-person3-address-uk-county-1",
    value: data ["sis-person3-address-uk-county-1"]
  }) }}

  {{ govukInput({
    label: {
      text: 'Postcode'
    },
    classes: "govuk-!-width-one-third",
    name: "sis-person3-address-uk-postcode-1",
    value: data ["sis-person3-address-uk-postcode-1"]
  }) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Add another address",
  classes: "hods-button--secondary"
}) }}

<br/><br/>

{{ govukButton({
  text: "Continue"
}) }}


{% else %}
{% endif %}

{% if data["sis-person3-address-uk"] == "No" %}

<h1 class="govuk-heading-l">Person 3: Non-UK address</h1>
<p class="govuk-body">Complete as much about the address as you can.</p>



      <form class="form" action="list" method="post">



        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

                      {% call govukFieldset({
                        legend: {
                          text: " ",
                          classes: "govuk-fieldset__legend--m",
                          isPageHeading: true
                        }
                      }) %}

                      {% from "govuk/components/radios/macro.njk" import govukRadios %}

                      {{ govukRadios({
                        name: "sis-person3-int-address-type",
                        fieldset: {
                          legend: {
                            text: "What type of address is this?",
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        items: [
                          {
                            value: "home-address",
                            text: "Home address"
                          },
                          {
                            value: "friends-address",
                            text: "Friends or family address"
                          },
                          {
                            value: "study-address",
                            text: "Study address"
                          },
                          {
                            value: "work-address",
                            text: "Work address"
                          },
                          {
                            divider: "or"
                          },
                          {
                            value: "Address",
                            text: "I do not know"
                          }
                        ]
                      }) }}

                      <h2 class="govuk-heading-m">Address</h2>


                {{ govukInput({
                  label: {
                    text: 'Address line 1'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address1",
                  name: "sis-person3-int-address1",
                  value: data ["sis-person3-int-address1"]
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Address line 2'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address2",
                  name: "sis-person3-int-address2",
                  value: data ["sis-person3-int-address2"]
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Address line 3'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address3",
                  name: "sis-person3-int-address3",
                  value: data ["sis-person3-int-address3"]
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Address line 4'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address4",
                  name: "sis-person3-int-address4",
                  value: data ["sis-person3-int-address4"]
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Address line 5'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address5",
                  name: "sis-person3-int-address5",
                  value: data ["sis-person3-int-address5"]
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Address line 6'
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "sis-person3-int-address6",
                  name: "sis-person3-int-address6",
                  value: data ["sis-person3-int-address6"]
                }) }}

              {% endcall %}



        <label class="govuk-fieldset__legend" for="event-name">
          Country
        </label>
        <div id="event-name-hint" class="govuk-hint">
          Start typing to find countries
        </div>
        {% include "purple/current/templates/ref-data/sis-country-list2.html" %}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add another address",
          classes: "hods-button--secondary"
        }) }}

        <br/><br/>

        {{ govukButton({
          text: "Continue"
        }) }}


{% else %}
{% endif %}

</form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/assets/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#sis-country2')
    })

</script>
{% endblock %}
