{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – How did the person enter the country?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<span class="govuk-caption-xl">Person 1</span>
<h1 class="govuk-heading-l" style="margin-bottom: 0;">How did the person, or people, enter the country clandestinely?</h1>-->

      <form class="form" action="/purple/current/sis-idp" method="post">

        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

     {% if data["sis-idp-number"] == "1" %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How did the passenger travel or plan to travel?
      </h1>
    </legend>
     {% else %}
     <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How did the passengers travel or plan to travel?
      </h1>
    </legend>
    {% endif %}

        {{ govukRadios({
          name: "sis-idp",
          value: data ["sis-idp"],
          fieldset: {
            legend: {
              text: ""
            }
          },
          items: [
            {
              value: "Air",
              text: "Air"
            },
            {
              value: "Rail",
              text: "Rail"
            },
            {
              value: "Road",
              text: "Road"
            },
            {
              value: "Sea",
              text: "Sea"
            },
            {
      divider: "or"
    },
            {
              value: "Other",
              text: "Other method of travel"
            }
          ]
        }) }}

        
</div>

        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
