{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Who did you receive this intelligence from?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="hods-alert hods-alert--success">
  <h2 class="hods-alert__heading">
    Success
  </h2>
  <p>
 Your cookie settings were saved 
  </p>
</div>
<h1 class="govuk-heading-xl">
Cookies
</h1>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
<p>Cookies are files saved on your phone, tablet, or computer when you visit a website.</p>
<p>We use cookies to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>remember what messages you have been shown so we do not show them again</li>
       <li>understand how you use the service so we can update and improve it </li>
       <li>temporarily store information you enter so you can use the service </li>
      </ul>
     
<p>The cookies we use do not identify you.</p>


  <h2 class="govuk-heading-m">Introductory cookie message </h2>


<p>When you first use the service we show a ‘cookie message’. We then store a cookie on your computer so it knows not to show this message again.</p>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
   <dt class="govuk-summary-list__key">
      Purpose
    </dt>
  <dt class="govuk-summary-list__key">
      Expires 
    </dt>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      seen_cookie_message
    </dd>
    <dd class="govuk-summary-list__value">
      Lets us know you have already seen our cookie message 
    </dd>
  <dd class="govuk-summary-list__value">
     1 month 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
     <dd class="govuk-summary-list__value">
      cookie_preferences 
    </dd>
    <dd class="govuk-summary-list__value">
      Lets us know you have saved your cookie consent settings  
    </dd>
  <dd class="govuk-summary-list__value">
     1 month 
    </dd>
  </div>
 
</dl>

    <br></br>  
<h2 class="govuk-heading-m">Session cookies</h2>


<p>Session cookies are downloaded each time you visit the service and deleted when you close your browser. They help the service to work properly.</p>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
   <dt class="govuk-summary-list__key">
      Purpose
    </dt>
  <dt class="govuk-summary-list__key">
      Expires 
    </dt>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      report-online-terrorist-material.hof.sid 
    </dd>
    <dd class="govuk-summary-list__value">
      Stores a session ID and temporarily stores data you enter to enable you to make an application 
    </dd>
  <dd class="govuk-summary-list__value">
     When you close your browser 
    </dd>
  </div>
  <div class="govuk-summary-list__row">
     <dd class="govuk-summary-list__value">
      hof-wizard-sc 
    </dd>
    <dd class="govuk-summary-list__value">
      Tells us when your session starts so we can tell you if it expires  
    </dd>
  <dd class="govuk-summary-list__value">
     When you close your browser 
    </dd>
  </div>
 <div class="govuk-summary-list__row">
     <dd class="govuk-summary-list__value">
      hof-wizard-sc 
    </dd>
    <dd class="govuk-summary-list__value">
      Tells us you have already allowed cookies so we don’t need to ask you again  
    </dd>
  <dd class="govuk-summary-list__value">
     When you close your browser 
    </dd>
  </div>
</dl>
    <br></br>  
   <h2 class="govuk-heading-m">Google Analytics (optional)</h2>


<p>With your permission, we use Google Analytics to collect information about how you use this service. This helps us check the service is meeting your needs and make improvements.</p>

<p>Google Analytics stores information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how you got to the site</li>
       <li>pages you visit and how long you spend on them</li>
       <li>what you click on</li>
      </ul>

<p>No personal details are stored with this information, so you cannot be identified.</p> 

<p>We do not allow Google to share or store our analytics data. </p>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
   <dt class="govuk-summary-list__key">
      Purpose
    </dt>
  <dt class="govuk-summary-list__key">
      Expires 
    </dt>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      _ga  
    </dd>
    <dd class="govuk-summary-list__value">
      Used to distinguish users 
    </dd>
  <dd class="govuk-summary-list__value">
     2 years  
    </dd>
  </div>
  <div class="govuk-summary-list__row">
     <dd class="govuk-summary-list__value">
      _gat  
    </dd>
    <dd class="govuk-summary-list__value">
     Used to throttle request rate 
    </dd>
  <dd class="govuk-summary-list__value">
     10 minutes 
    </dd>
  </div>
 <div class="govuk-summary-list__row">
     <dd class="govuk-summary-list__value">
      _gid  
    </dd>
    <dd class="govuk-summary-list__value">
     Used to count and track page views 
    </dd>
  <dd class="govuk-summary-list__value">
    24 hours 
    </dd>
  </div>
</dl>
<br></br>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you want to accept analytics cookies?
      </h1>
    </legend>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="accept-cookies" name="accept-cookies" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="accept-cookies">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="accept-cookies-2" name="accept-cookies" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="accept-cookies-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save cookie settings",
          href:"cookies"
        }) }}


{% endblock %}
