{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Tell us about the offence
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form-next" class="form" action="terrorism-check-route" method="post" novalidate>




    <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
     Personal property
    </label>
  </h1>
 <p>
Tell us any information you have about personal property that raises suspicions.
    </p>
 <p>This could be:</p>
    <ul class="govuk-list govuk-list--bullet">
  

 <li>extremist literature, images, videos or symbols</li>
 <li>laboratory or chemical equipment</li>
  <li>letters or messages to or from people of interest to counter-terrorism</li>
 <li>material about weaponry or explosives</li>

 <li>anything else you found suspicious</li>

</ul>
</p>

   <h2 class="govuk-heading-m">
Describe in detail who has suspicious personal property and what it is.
  </h2>
  <textarea class="govuk-textarea" id="property-detail" name="property-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
 


    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}


<input type="hidden" id="sis-terrorism-activities-done" name="sis-terrorism-activities-done" value="Yes">
<input type="hidden" id="sis-terrorism-property-done" name="sis-terrorism-property-done" value="Yes">
</form>

  </div>
</div>

{% endblock %}
