{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Add business
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">

  <form id="form-next" class="form" action="/pink/current/task/list" method="post" novalidate>

<!--<span class="govuk-caption-xl">Location</span>-->


      <h1 class="govuk-heading-l">Check your answers</h1>
{% if data["sub-crime"] == "rep-abuse" %}
  
       <div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">

   <h2 class="govuk-summary-card__title">Representative abuse details</h2>
     <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
          <span class="govuk-visually-hidden"> person 1</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">

    <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Legal representative
          </dt>
          <dd class="govuk-summary-list__value">
          
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="details">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
     <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
      Type of information about the legal representative
          </dt>
          <dd class="govuk-summary-list__value">
          
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="details">
            Change<span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
        </div>
     
              </dl>
    </div>
  </div>
        {% else %}{% endif %}
          {% if data["rep-details"] == "Details about a person" or data["start-crime"] == "rep-abuse" %}
         <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
      <h2 class="govuk-summary-card__title">
     Person 1: {{ data['sis-person1-first-name'] }} {{ data['sis-person1-surname'] }}</h2>
       
      </h2>
     <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
            <span class="govuk-visually-hidden"> location</span>
          </a>
        </li>
      </ul>
  </div>        
       {% include "pink/current/templates/summary/secondary-person1.html" %}

            
     
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Client in the UK
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sis-rep-uk'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="uk">
              Change<span class="govuk-visually-hidden">name of educational establishment</span>
            </a>
          </dd>
          </div>

        </dl>
      </div>
    </div>

            {% else %}
        {% endif %}
    {% if data["rep-details"] == "Details about a business" %}
<div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
        <h2 class="govuk-summary-card__title">Business 1</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action"> <a class="govuk-link" href="list-empty">
              <span class="govuk-visually-hidden"> business </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of business
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sis-business-name1'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business">
              Change<span class="govuk-visually-hidden">name of business</span>
            </a>
          </dd>
          </div>
                <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sis-rep1-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business2">
              Change<span class="govuk-visually-hidden">Email address</span>
            </a>
          </dd>
          </div>
              <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sis-rep1-phone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business2">
              Change<span class="govuk-visually-hidden">Phone number</span>
            </a>
          </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">

              {% if data["sis-biz-address1-line1"] == "" %}{% else %}
              {{ data['sis-biz-address1-line1'] }} <br/>{% endif %}

              {% if data["sis-biz-address1-line2"] == "" %}{% else %}
              {{ data['sis-biz-address1-line2'] }} <br/>{% endif %}

              {% if data["sis-biz-address1-city"] == "" %}{% else %}
              {{ data['sis-biz-address1-city'] }} <br/>{% endif %}

              {% if data["sis-biz-address1-county"] == "" %}{% else %}
              {{ data['sis-biz-address1-county'] }} <br/>{% endif %}

              {% if data["sis-biz-address1-postcod"] == "" %}{% else %}
              {{ data['sis-biz-address1-postcode'] }} <br/>{% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address">
              Change<span class="govuk-visually-hidden">Address</span>
            </a>
          </dd>
          </div>

        </dl>
      </div>
    </div>


            {% else %}
        {% endif %}
{% if data["sis-rep2-done"] == "Yes" %}
<div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper" style="background-color: #cbcbcb;">
        <h2 class="govuk-summary-card__title">Person 2: {{ data['sis-person12-first-name'] }} {{ data['sis-person2-surname'] }} </h2>
        <ul class="govuk-summary-card__actions">
          
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Client in the UK
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['sis-rep2-uk'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="uk2">
              Change<span class="govuk-visually-hidden">name of educational establishment</span>
            </a>
          </dd>
          </div>

        </dl>
      </div>
    </div>
{% else %}
{% endif %}
{% from "govuk/components/button/macro.njk" import govukButton %}


<br/>

  {{ govukButton({
    classes: "hods-button",
    text: "Continue"
  }) }}

  <input type="hidden" id="sis-rep-done" name="sis-rep-done" value="Yes">


  </form>

  </div>
  </div>

{% endblock %}
