{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Select your first document to tell us about
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="form-next" class="form" action="/purple/current/task/person/list" method="post" novalidate>

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             <h1 class="govuk-heading-l" style="margin-bottom:10px;">
Person 2: Occupation details
    </h1>  
    </legend>
     {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
<p class="govuk-body">Complete as much about their occupation as you can.</p>
<h2 class="govuk-heading-m">Occupation</h2>


{% set studyHtml %}
{{ govukInput({
  id: "person-study2",
  name: "person-study2",
  type: "person-study2",
  classes: "govuk-!-width-full-width",
  label: {
    text: "Main subjects"
  }
}) }}
{% endset -%}

{% set otherHtml %}
{{ govukInput({
  id: "other-occupation2",
  name: "other-occupation2",
  type: "other-occupation2",
  classes: "govuk-!-width-full-width",
  label: {
    text: "Type of occupation"
  }
}) }}
{% endset -%}

{{ govukCheckboxes({
  name: "terrorism-person-occupation2",
  fieldset: {
    legend: {
      text: ""
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "Working",
      text: "Working"
    },
    {
      value: "Student",
      text: "Student",
      conditional: {
        html: studyHtml
      }
    },
    {
      value: "Other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    },
     {
      divider: "or"
    },
    {
      value: "I do not know",
      text: "I do not know",
      behaviour: "exclusive"
    }
  ]
}) }}
      <hr>
  <br>

          <h2 class="govuk-heading-m">Employer or sponsor</h2>
{{ govukInput({
    label: {
      text: 'Company name'
    },
    classes: "govuk-!-width-two-thirds",
    id: "person-company-name2",
    name: "person-company-name2",
    value: ""
  }) }}
<label class="govuk-label" for="more-detail">
    Sector
  </label>
{% include "purple/current/templates/ref-data/sis-sector-list2.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "If the business sector is not in the list, what is the sector?"
  },
  name: 'sis-other-biz-sector2',
  value: data["sis-other-biz-sector2"],
  classes: "govuk-!-width-one-half"
}) }}
  {{ govukInput({
    label: {
      text: 'Email address'
    },
    classes: "govuk-!-width-two-thirds",
    id: "person-company-email2",
    name: "person-company-email2",
    value: ""
  }) }}


  {{ govukInput({
    label: {
      text: 'Phone number'
    },
    classes: "govuk-!-width-one-third",
    id: "person-company-phone2",
    name: "person-company-phone2",
    value: ""
  }) }}
   <hr>
  <br>

          <h2 class="govuk-heading-m">Educational establishment</h2>

          {{ govukInput({
    label: {
      text: 'Establishment name'
    },
    classes: "govuk-!-width-two-thirds",
    id: "education-name2",
    name: "education-name2",
    value: ""
  }) }}

  {{ govukInput({
    label: {
      text: 'Email address'
    },
    classes: "govuk-!-width-two-thirds",
    id: "education-email2",
    name: "education-email2",
    value: ""
  }) }}


  {{ govukInput({
    label: {
      text: 'Phone number'
    },
    classes: "govuk-!-width-one-third",
    id: "education-phone2",
    name: "education-phone2",
    value: ""
  }) }}
      </fieldset>
      </div>        
      
<input type="hidden" id="sis-immigration-done" name="sis-immigration-done" value="Yes">

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Continue"
}) }}

</form>
    </div>
  </div>


{% endblock %}
