{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Select your first document to tell us about
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="form-next" class="form" action="occupation" method="post" novalidate>

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
             <h1 class="govuk-heading-l" style="margin-bottom:10px;">
Person 1: Immigration status
    </h1>  
        {% if data["sis-person1-first-name"] == "" or data["sis-person2-first-name"] == "" %}
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">
          What is Person 1's most recent type of visa or permission to be in the UK?
        {% else %}
        <h2 class="govuk-heading-s" style="margin-bottom:10px;">
          What is {{ data['sis-person1-first-name'] }} {{ data['sis-person1-surname'] }}'s most recent type of visa or permission?
           
        {% endif %}
            </h2> 
        </legend>

        {% include "purple/current/templates/list/visa-type.html" %}

      </fieldset>
      </div>        
      
<input type="hidden" id="sis-immigration-done" name="sis-immigration-done" value="Yes">

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
text: "Continue"
}) }}

</form>
    </div>
  </div>


{% endblock %}
