{% extends "layouts/default.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="padding-top: 40px;">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Submit immigration and national security intelligence
    </h1>
    <p>
  Use this form to tell us about an immigration offence or a terrorism, radicalisation or national security threat.
    </p>
    <p>
      You can submit:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>referrals made by you or other Home Office employees</li>
      <li>intelligence sent from trusted third-parties</li>
    </ul>
    <p>
      Your information will allow Intelligence teams to investigate harm, threat activities and immigration offences. It will also help identify trends for future targeting.
      </p>
      <p>
      You will need to complete the form in one go - you cannot save your progress.
      </p>
      <p>
        If you do not do anything for 30 minutes, the service will time out. Your answers will be deleted and you will need to start again.
           </p>
    
      <a href="details-confirm.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
  </div>
</div>

<p>
<!-- Using https://a11y.nicolas-hoffmann.net/modal/ -->
  <a href="#" class="js-modal" data-modal-text="
    <p id='timeout--p'>To protect your information, your progress will be saved and this page will time out in
      <span id='timeout--countdown' style='font-weight: bold; white-space:nowrap;'>3</span>
      <span id='timeout--countdown-unit' style='font-weight: bold; white-space:nowrap;'>minutes</span>.
    </p>
    <div id='timeout--announce' role='alert' aria-live='polite' style='position:absolute; width:0; height:0; clip: rect(0,0,0,0);'></div>
    "
    data-modal-title="You will be signed out soon"
    data-modal-close-text="Stay signed in">
  </a>
</p>


<script type="text/javascript"
src="/assets/javascripts/jquery-accessible-modal.js"></script>



</script>

{% endblock %}
