{% extends "pink/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Document fraud sender details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

<form class="form" action="/pink/current/task/main/idp/add/real2" method="post">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<h1 class="govuk-heading-l">Document 2: Banking details</h1>
<p class="govuk-body">Complete as much about the banking details as you can.</p>

<h2 class="govuk-heading-m">Bank account</h2>

{{ govukInput({
    name: 'sis-idp-bank-card-name2',
    value: data['sis-idp-acc-holder-name2'],
    classes: "govuk-!-width-one-half",
    label: {
      text: "Account holder's name"
    }
  }) }}


{{ govukInput({
  name: 'sis-idp-bank-acc2',
  value: data['sis-idp-bank-acc2'],
  classes: "govuk-!-width-one-third",
 
  label: {
    text: "Account number"
  }
}) }}

{{ govukInput({
  name: 'sis-idp-bank-sort-code2',
  value: data['sis-idp-bank-sort-code2'],
  hint: {
    text: "This could be the sort code, or the BIC or SWIFT code"
  },
  classes: "govuk-!-width-one-quarter",
  label: {
    text: "Bank code"
  }
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  classes: "hods-button--secondary",
  text: "Add another bank account",
  href: ""
  }) }}

  <h2 class="govuk-heading-m">Card details</h2>

  {{ govukInput({
    name: 'sis-idp-bank-card-name2',
    value: data['sis-idp-bank-card-name2'],
    classes: "govuk-!-width-one-half",
    label: {
      text: "Cardholder's name"
    }
  }) }}

  {{ govukInput({
    name: 'sis-idp-bank-card-number2',
    value: data['sis-idp-bank-card-number2'],
    classes: "govuk-!-width-one-third",
    label: {
      text: "Card number"
    }
  }) }}


  {{ govukInput({
    name: 'sis-idp-bank-card-type2',
    value: data['sis-idp-bank-card-type2'],
    classes: "govuk-!-width-one-third",
    hint: {
      text: "For example, Visa or MasterCard"
    },
    label: {
      text: "Card type"
    }
  }) }}

    <br/>
    <br/>

{{ govukButton({
  text: "Continue"
}) }}


</form>

    </div>
  </div>

{% endblock %}
