{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Privacy policy
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
Privacy policy
</h1>
   <h2 class="govuk-heading-m">Overview</h2>
   <p>This privacy notice includes details of what information we collect from you in the ‘Submit immigration and national security intelligence’ service.
   </p>

     <p>The data you provide is used in accordance with the Home Office's <a href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter" class="govuk-link">Personal information charter</a> and the <a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship/borders-immigration-and-citizenship-privacy-information-notice" class="govuk-link"> Borders, immigration and citizenship: privacy information notice</a>.
    </p>

<p>The Home Office is the data controller, (as defined in the <a href="https://www.legislation.gov.uk/ukpga/2018/12/contents/enacted" class="govuk-link">Data Protection Act 2018</a>). A controller decides how and why personal information can be processed.
</p>

<p>The legal basis for processing this data is to perform a task carried out in the public interest or in the exercise of official authority vested in the controller (Article 6(1)(e) of the UK GDPR). We also process special categories of personal data on the basis of Article 9(2)(g) of the UK GDPR where the processing is necessary for reasons of substantial public interest.
</p>

   <h2 class="govuk-heading-m">What information we collect</h2>

<p>We will ask for your:  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name </li>
       <li>email address </li>
       <li>phone number </li>
      <li>POISE ID </li>
       <li>team</li>
      </ul>
     <br>
     <p>We will also ask for third-party details which may include:</p>
      <ul class="govuk-list govuk-list--bullet">
       <li>name </li>

 <li>date of birth </li>
 <li>immigration permission</li> 
 <li>nationality </li>
 <li>identity document details</li> 
 <li>address </li>
 <li>email address </li>
 <li>phone number</li>
 <li>anything else you may provide </li> 
      </ul>

   <h2 class="govuk-heading-m">How we use this information </h2>

<p>We use the data you enter to confirm your identity, contact you if we need more information, and to prevent and detect crime. 
</p>

<p>Find out more about: </p>
<ul class="govuk-list govuk-list--bullet">
<li><a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship/borders-immigration-and-citizenship-privacy-information-notice#which-other-organisations-we-share-data-with" class="govuk-link">which other organisations we share data with </a></li>
<li><a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship/borders-immigration-and-citizenship-privacy-information-notice#how-long-we-keep-your-personal-information-for" class="govuk-link">how long we keep your information for </a></li>
<li><a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship/borders-immigration-and-citizenship-privacy-information-notice#how-to-get-a-copy-of-your-personal-information" class="govuk-link">how to get a copy of your information </a></li>
<li><a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship/borders-immigration-and-citizenship-privacy-information-notice#how-to-complain" class="govuk-link">how to complain </a></li>
</ul>

{% endblock %}