{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Overstaying visa
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<span class="govuk-caption-xl">Person 1</span>
<h1 class="govuk-heading-l">Breach of visa conditions</h1>-->

      <form class="form" action="/purple/current/deception-visa" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">

        {% if data["sis-person1-first-name"] == "" or data["sis-person2-first-name"] == "" %}
        <h1 class="govuk-heading-l" style="margin-bottom:10px;">What type of visa or permission did the person apply for?</h1>
        {% else %}
        <h1 class="govuk-heading-l" style="margin-bottom:10px;">What type of visa or permission did {{ data['sis-person1-first-name'] }} {{ data['sis-person1-surname'] }} apply for?</h1>
        {% endif %}

        {% include "purple/current/templates/list/visa-type.html" %}

      </fieldset>
    </div> 

        <input type="hidden" id="sis-main-offence-done" name="sis-main-offence-done" value="Yes">
 <input type="hidden" id="sis-deception-done" name="sis-deception-done" value="Yes">
        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
