{% extends "purple/current/layouts/base.html" %}

{% block pageTitle %}
Home – {{serviceName}} – Has the person already entered the UK?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form id="form-next" class="form" action="/purple/current/sis-cland-vehicle2" method="post" novalidate>


        {% if data["sis-cland-uk2"] == "Yes" %}

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {% if data["sis-person2-first-name"] == "" or data["sis-person2-first-name"] == "" %}
          <h1 class="govuk-heading-l" style="margin-bottom:10px;">
            Did the suspect or offender arrive inside a vehicle?  
          </h1>
          {% else %}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Did {{ data['sis-person2-first-name'] }} {{ data['sis-person2-surname'] }} arrive inside a vehicle? 
            </label>
          </h1>
          {% endif %}
        </legend>

        {% else %}

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {% if data["sis-person2-first-name"] == "" or data["sis-perso22-first-name"] == "" %}
          <h1 class="govuk-heading-l" style="margin-bottom:10px;">
            Will the suspect or offender arrive inside a vehicle?"  
          </h1>
          {% else %}
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Will {{ data['sis-person2-first-name'] }} {{ data['sis-person2-surname'] }} arrive inside a vehicle? 
            </label>
          </h1>
          {% endif %}
        </legend>

        {% endif %}



    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukRadios({
      name: "sis-cland-vehicle2",
      value: data ["sis-cland-vehicle2"],
      fieldset: {
        legend: {
          text: ""
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        },
             {
      divider: "or"
    },
        {
          value: "I do not know",
          text: "I do not know"
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

<input type="hidden" id="sis-event-done" name="sis-event-done" value="Yes">

</form>


  </div>
</div>

{% endblock %}
