{% extends "layouts/default-sis-redirect.html" %}

{% block pageTitle %}
Document Upload - Internal Referral Form
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="document-upload" action="" method="post">

        <h1 class="govuk-heading-l">Upload a document</h1>
        <p class="govuk-body">You can upload any evidence, if you have it.</p>

                <h2 class="govuk-heading-m">Type of document</h2>

{%- from "govuk/components/file-upload/macro.njk" import govukFileUpload -%}
  {%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
  {%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}

      {% if errorSummary.items.length %}
        {{ govukErrorSummary({
          titleText: 'There is a problem',
          errorList: errorSummary.items
        }) }}
      {% endif %}

                        {% set docsOther %}
                        {{ govukInput({
                          id: "docs-other",
                          name: "docs-other",
                          autocomplete: "docs-other",
                          classes: "govuk-!-width-one-third",
                          label: {
                            text: "What is the document?"
                          }
                        }) }}
                      {% endset -%}

                      {{ govukRadios({
                        name: "sis-doc",
                        hint: {
                          text: " "
                        },
                        items: [
                          {
                            value: "Bank document",
                            text: "Bank document"
                          },
                          {
                            value: "Birth certificate",
                            text: "Birth certificate"
                          },
                           {
                            value: "Biometric residence permit (BRP)",
                            text: "Biometric residence permit (BRP)"
                          },
                          {
                            value: "Driving licence",
                            text: "Driving licence"
                          },
                          {
                            value: "Educational document",
                            text: "Educational document"
                          },
                          {
                            value: "Identity card",
                            text: "Identity card"
                          },
                          {
                            value: "Marriage certificate",
                            text: "Marriage certificate"
                          },
                          {
                            value: "Passport",
                            text: "Passport",
                            checked: true
                          },
                          {
                            value: "Payslip",
                            text: "Payslip"
                          },
                          
                          {
                            value: "Photo",
                            text: "Photo"
                          },
                           {
                            value: "Travel document",
                            text: "Travel document"
                          },
                           {
                            value: "Visa",
                            text: "Visa"
                          },

                          {
                            divider: "or"
                          },
                          {
                            value: "Other",
                            text: "Other",
                            conditional: {
                              html: docsOther
                            }
                          }
                        ]
                      }) }}

                     {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

                    {{ govukFileUpload({
                      id: "file-upload-1",
                      name: "fileUpload1",
                      label: {
                        text: "Upload a file"
                      },
                      javascript: true,
                      disabled: true,
                      noFileChosenText: "scan-passport_IDBUK572896.pdf"
                    }) }}




        <div class="hods-loading-spinner">
          <div
            class="hods-loading-spinner__spinner"
            aria-live="polite"
            role="status"
          ></div>
          <div class="hods-loading-spinner__content">
            <h1 class="govuk-heading-m">
              Uploading document
            </h1>
            <p>When this is done, you will be able to continue</p>
          </div>
        </div>

      </form>

    </div>
  </div>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          classes: "hods-button",
          text: "Continue",
          disabled: true
        }) }}


{% endblock %}
