.app-masthead {
  background-color: #7f3f98;
  border-bottom: 1px solid #7f3f98;
  color: #fff;
  margin: -5px 0 60px;
  padding: 30px 0;
}

.app-masthead__title {
  color: #fff;
  margin: 0 0 30px;
}

.app-masthead__description {
  color: #fff;
  margin-bottom: 0;
}

.app-masthead__image {
  display: none;
}
