{% extends "layouts/default-sis.html" %}

{% block pageTitle %}
Submit intelligence about immigration or borders – Other details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ data ["sis-person1-first-name"] }} {{ data ["sis-person1-surname"] }}: Address</h1>

      <form class="form" action="/housing/housing-sis-person1-address" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% set personAddress %}
          {{ govukRadios({
          name: "sis-person1-address-uk",
          value: data["sis-person1-address-uk"],
          classes: "govuk-radios--inline",
          fieldset: {
          legend: {
          text: "Is the address in the UK?"
          }
          },
          items: [
          {
          value: "Yes",
          text: "Yes"
          },
          {
          value: "No",
          text: "No"
          }
          ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "sis-person1-address-known",
          value: data["sis-person1-address-known"],
          fieldset: {
          legend: {
          text: "Do you know their address?",
          classes: "govuk-fieldset__legend--m"
          }
          },
          hint: {
          text: "This could be any type of address, including home or work address."
        },
          items: [
          {
          value: "Yes",
          text: "Yes",
          conditional: {
            html: personAddress
          }
          },
          {
          value: "No",
          text: "No"
          }
          ]
          })
        }}
        
<input type="hidden" id="sis-person-done" name="sis-person-done" value="Yes">
<input type="hidden" id="sis-person1-info" name="sis-person1-info" value="yes">


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "hods-button"
    }) }}


      </form>

    </div>
  </div>

{% endblock %}
