<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
		  <div class="govuk-grid-row" id="gov-grid-row-content">
      <div class="govuk-grid-column-one-third">
        <nav>
          <ul>
            <li class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/" data-topnav="Start">Start</a>
            </li>
            <li id="crime-nav" class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/crime-type?section=crime" data-topnav="The Crime">The Crime</a>
            </li>
            <li id="person-nav" class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/report-person?section=person" data-topnav="The Person">The Person</a>
            </li>
            <li id="organisation-nav" class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/report-organisation?section=organisation" data-topnav="The Organisation">The
                Organisation</a>
            </li>
            <li id="other-info-nav" class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/other-info-description?section=other-info" data-topnav="Other Info">Other Information</a>
            </li>
            <li id="about-you-nav" class="app-navigation__list-item">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/about-you?section=about-you" data-topnav="About You">About You</a>
            </li>
            <li id="check-answers-nav" class="app-navigation__list-item check-answers-nav">
              <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/paf/confirm?section=check-answers" data-topnav="Check Your Answers">Check
                Your Answers</a>
            </li>
        </ul></nav>
      </div>
			  <div class="govuk-grid-column-two-thirds">
			        
			    <h1 class="govuk-heading-l">Check your answers before submitting your application.</h1>
			    
			<form action="" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
    

      <div>
        <h2 class="section-header">The Crime - Crime Type</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">What is the crime you are reporting?</dt>
        <dd class="confirm-value" data-value="Immigration Crime">Immigration Crime</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-type/edit#crime-type-immigration-crime" id="crime-type-change-">Change <span class="visuallyhidden">What is the crime you are reporting? from Immigration Crime</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Please classify:</dt>
        <dd class="confirm-value" data-value="Lied on application">Lied on application</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-type/edit#immigration-crime-group-immigration-crime-lied-on-application" id="immigration-crime-group-change-">Change <span class="visuallyhidden">Please classify: from Lied on application</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Crime - Children Involved in Crime</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Are there children involved? (A child is anyone under 18 years of age)</dt>
        <dd class="confirm-value" data-value="I don't know">I don't know</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-children/edit#crime-children-crime-childen-unknown" id="crime-children-change-">Change <span class="visuallyhidden">Are there children involved? (A child is anyone under 18 years of age) from I don't know</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Crime - Duration</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">When is the crime happening?</dt>
        <dd class="confirm-value" data-value="Ongoing">Ongoing</dd>
        <dd><span><a class="govuk-link" href="/paf/when-crime-happened/edit#when-crime-happened-ongoing" id="when-crime-happened-change-">Change <span class="visuallyhidden">When is the crime happening? from Ongoing</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header"> The Crime - Transport Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Does the crime involve any vehicles, transport or travel?</dt>
        <dd class="confirm-value" data-value="I don't know">I don't know</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-transport/edit#crime-transport-transport-unknown" id="crime-transport-change-">Change <span class="visuallyhidden">Does the crime involve any vehicles, transport or travel? from I don't know</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Crime - Mode of Delivery </h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Tell us which of the following the crime involves:</dt>
        <dd class="confirm-value" data-value="None of these">None of these</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-delivery/edit#crime-delivery-none" id="crime-delivery-change-">Change <span class="visuallyhidden">Tell us which of the following the crime involves: from None of these</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Crime - Location Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you know where the crime takes place, took place or will take place?</dt>
        <dd class="confirm-value" data-value="No">No</dd>
        <dd><span><a class="govuk-link" href="/paf/crime-location/edit#crime-location-no" id="crime-location-change-">Change <span class="visuallyhidden">Do you know where the crime takes place, took place or will take place? from No</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you wish to report an individual?</dt>
        <dd class="confirm-value" data-value="Yes">Yes</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person/edit#report-person-yes" id="report-person-change-">Change <span class="visuallyhidden">Do you wish to report an individual? from Yes</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person - Personal Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">What is the person's approximate age?</dt>
        <dd class="confirm-value" data-value="25-34">25-34</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-age-range/edit#report-person-age-range-25-34" id="report-person-age-range-change-">Change <span class="visuallyhidden">What is the person's approximate age? from 25-34</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">What is the person's gender?</dt>
        <dd class="confirm-value" data-value="Male">Male</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-gender/edit#report-person-gender-male" id="report-person-gender-change-">Change <span class="visuallyhidden">What is the person's gender? from Male</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person - Contact Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Where is the person now?</dt>
        <dd class="confirm-value" data-value="In the UK">In the UK</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-location/edit#report-person-location-uk" id="report-person-location-change-">Change <span class="visuallyhidden">Where is the person now? from In the UK</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">What type of address is it?</dt>
        <dd class="confirm-value" data-value="Home address">Home address</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-location-type/edit#report-person-location-type-home" id="report-person-location-type-change-">Change <span class="visuallyhidden">What type of address is it? from Home address</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person - Occupation Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you know if the person has a job?</dt>
        <dd class="confirm-value" data-value="I don't know">I don't know</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-occupation/edit#report-person-occupation-occupation-unknown" id="report-person-occupation-change-">Change <span class="visuallyhidden">Do you know if the person has a job? from I don't know</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person - Study Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Does the person study?</dt>
        <dd class="confirm-value" data-value="Yes">Yes</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-study/edit#report-person-study-yes" id="report-person-study-change-">Change <span class="visuallyhidden">Does the person study? from Yes</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Does the person study in the UK?</dt>
        <dd class="confirm-value" data-value="I don't know">I don't know</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-study-location/edit#report-person-study-location-study-location-unknown" id="report-person-study-location-change-">Change <span class="visuallyhidden">Does the person study in the UK? from I don't know</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Person - Transport Details</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Does the person own a car or other vehicle?</dt>
        <dd class="confirm-value" data-value="I don't know">I don't know</dd>
        <dd><span><a class="govuk-link" href="/paf/report-person-transport/edit#report-person-transport-transport-unknown" id="report-person-transport-change-">Change <span class="visuallyhidden">Does the person own a car or other vehicle? from I don't know</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Organisation</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you wish to report a company, business or education provider?</dt>
        <dd class="confirm-value" data-value="Yes">Yes</dd>
        <dd><span><a class="govuk-link" href="/paf/report-organisation/edit#report-organisation-yes" id="report-organisation-change-">Change <span class="visuallyhidden">Do you wish to report a company, business or education provider? from Yes</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">The Organisation - Another Company</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you want to tell us about another company, business or education provider that is involved in the same crime?</dt>
        <dd class="confirm-value" data-value="No">No</dd>
        <dd><span><a class="govuk-link" href="/paf/another-company/edit#another-company-no" id="another-company-change-">Change <span class="visuallyhidden">Do you want to tell us about another company, business or education provider that is involved in the same crime? from No</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">Other Information</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Do you want to report another crime by the same person or business?</dt>
        <dd class="confirm-value" data-value="No">No</dd>
        <dd><span><a class="govuk-link" href="/paf/other-info-another-crime/edit#other-info-another-crime-no" id="other-info-another-crime-change-">Change <span class="visuallyhidden">Do you want to report another crime by the same person or business? from No</span></a></span></dd>
</div>
</dl>
      <div>
        <h2 class="section-header">About you</h2>
      </div>
      <dl>
      <div class="confirm-row">
        <dt class="confirm-label">Have you reported the crime before?</dt>
        <dd class="confirm-value" data-value="yes">yes</dd>
        <dd><span><a class="govuk-link" href="/paf/have-you-reported-before/edit#have-you-reported-before" id="have-you-reported-before-change">Change <span class="visuallyhidden">Have you reported the crime before? from yes</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">How do you know this person/ these people?</dt>
        <dd class="confirm-value" data-value="your mum">your mum</dd>
        <dd><span><a class="govuk-link" href="/paf/how-do-you-know-the-person/edit#how-do-you-know-the-person" id="how-do-you-know-the-person-change">Change <span class="visuallyhidden">How do you know this person/ these people? from your mum</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Can we act on this information without putting you or others at risk?</dt>
        <dd class="confirm-value" data-value="No">No</dd>
        <dd><span><a class="govuk-link" href="/paf/can-use-info-without-risk/edit#can-use-info-without-risk-no" id="can-use-info-without-risk-change-">Change <span class="visuallyhidden">Can we act on this information without putting you or others at risk? from No</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">First name(s)</dt>
        <dd class="confirm-value" data-value="Timmy">Timmy</dd>
        <dd><span><a class="govuk-link" href="/paf/about-you-details/edit#about-you-first-name" id="about-you-first-name-change">Change <span class="visuallyhidden">First name(s) from Timmy</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Family name(s)</dt>
        <dd class="confirm-value" data-value="Exampleface">Exampleface</dd>
        <dd><span><a class="govuk-link" href="/paf/about-you-details/edit#about-you-family-name" id="about-you-family-name-change">Change <span class="visuallyhidden">Family name(s) from Exampleface</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">What is your date of birth?</dt>
        <dd class="confirm-value" data-value="2nd May 1997">2nd May 1997</dd>
        <dd><span><a class="govuk-link" href="/paf/about-you-dob/edit#about-you-dob" id="about-you-dob-change">Change <span class="visuallyhidden">What is your date of birth? from 2nd May 1997</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">What is your gender?</dt>
        <dd class="confirm-value" data-value="Male">Male</dd>
        <dd><span><a class="govuk-link" href="/paf/about-you-gender/edit#about-you-gender-male" id="about-you-gender-change-">Change <span class="visuallyhidden">What is your gender? from Male</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Can we contact you if required, to discuss the information you have provided?</dt>
        <dd class="confirm-value" data-value="Yes">Yes</dd>
        <dd><span><a class="govuk-link" href="/paf/about-you-contact/edit#about-you-contact-yes" id="about-you-contact-change-">Change <span class="visuallyhidden">Can we contact you if required, to discuss the information you have provided? from Yes</span></a></span></dd>
</div>
<div class="confirm-row">
        <dt class="confirm-label">Are you over 18?</dt>
        <dd class="confirm-value" data-value="No">No</dd>
        <dd><span><a class="govuk-link" href="/paf/are-you-eighteen/edit#are-you-eighteen-no" id="are-you-eighteen-change-">Change <span class="visuallyhidden">Are you over 18? from No</span></a></span></dd>
</div>
</dl>
    <input type="submit" value="Confirm submission" class="govuk-button">

        <div class="govuk-timeout-warning-fallback">
          <p>We will reset your application if you do not complete the page and press continue
          in 5 minutes.</p>
          <p>We do this to keep your information secure.</p>
        </div>

        <dialog id="js-modal-dialog" data-session-timeout="1800" data-session-timeout-warning="300" data-url-redirect="/session-timeout" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
          <div class="modal-dialog__inner">
            <h2 id="dialog-title" class="govuk-heading-l">
              Your page will time out soon
            </h2>
            <div class="govuk-body">
              <div id="timer" class="timer" aria-hidden="true" aria-relevant="additions"></div>
              <div id="at-timer" class="at-timer govuk-visually-hidden" role="status"></div>
              <p class="dialog-text-prefix visually-hidden">To protect your information, this page will time out in </p>
              <p class="dialog-text visually-hidden">If that happens, your progress will not be saved.</p>
            </div>
              <button class="govuk-button dialog-button js-dialog-close" id="timeout-continue-button" data-module="govuk-button">Stay on this page</button>
              <a href="/paf/exit" class="govuk-link dialog-exit-link" role="button">Exit this form</a>
          </div>
        </dialog>
    <input type="hidden" name="x-csrf-token" value="foj0zM48-xzt8dqYhpy5kDSHdryDQZI0vVbY">
</form>
  </div>
					  </div>
	  </main>