<fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
              What is the crime you are reporting?
          </h1>
      </legend>
      
      
      
  <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
          <input class="govuk-radios__input" type="radio" name="crime-type" id="crime-type-immigration-crime" value="immigration-crime" data-toggle="immigration-crime-group" checked="checked" aria-controls="immigration-crime-group-panel" aria-expanded="true">
          <label class="govuk-label govuk-radios__label" for="crime-type-immigration-crime">
              Immigration Crime
              
          </label>
      </div>
<div id="immigration-crime-group-panel" class="govuk-radios__conditional
  " aria-hidden="false">
<div id="immigration-crime-group-group" class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend ">
            
                Please classify:
            
        </legend>
        
        
		<div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-no-permission" value="immigration-crime-no-permission">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-no-permission">
                No permission to stay in the UK
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-illegal-working" value="immigration-crime-illegal-working">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-illegal-working">
                Illegal working
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-employing-illegal-workers" value="immigration-crime-employing-illegal-workers">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-employing-illegal-workers">
                Employer employing illegal workers
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-full-time-student" value="immigration-crime-full-time-student">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-full-time-student">
                Student working full time
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-fake-marriage" value="immigration-crime-fake-marriage">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-fake-marriage">
                Fake marriage
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-fake-documents" value="immigration-crime-fake-documents">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-fake-documents">
                Fake or false documents
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-enter-stay-illegally" value="immigration-crime-enter-stay-illegally">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-enter-stay-illegally">
                Helping people to enter or stay in the UK illegally
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-lied-on-application" value="immigration-crime-lied-on-application" checked="checked" data-gtm-form-interact-field-id="0">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-lied-on-application">
                Lied on application
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-enter-human-trafficking-smuggling-slavery" value="immigration-crime-enter-human-trafficking-smuggling-slavery">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-enter-human-trafficking-smuggling-slavery">
                Human trafficking / smuggling / slavery
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="immigration-crime-group" id="immigration-crime-group-immigration-crime-other" value="immigration-crime-other">
            <label class="govuk-label govuk-checkboxes__label" for="immigration-crime-group-immigration-crime-other">
                Other immigration crimes
                
            </label>
        </div>
		</div>
    </fieldset>
</div>
</div>
      <div class="govuk-radios__item">
          <input class="govuk-radios__input" type="radio" name="crime-type" id="crime-type-smuggling-crime" value="smuggling-crime" data-toggle="smuggling-crime-group" aria-controls="smuggling-crime-group-panel" aria-expanded="false">
          <label class="govuk-label govuk-radios__label" for="crime-type-smuggling-crime">
              Smuggling
              
          </label>
      </div>
<div id="smuggling-crime-group-panel" class="govuk-radios__conditional
   govuk-radios__conditional--hidden" aria-hidden="true">
<div id="smuggling-crime-group-group" class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend ">
            
                Please classify:
            
        </legend>
        
        
		<div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-drug" value="smuggling-crime-drug">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-drug">
                Drug smuggling
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-cash" value="smuggling-crime-cash">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-cash">
                Cash smuggling
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-cigarette" value="smuggling-crime-cigarette">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-cigarette">
                Cigarette and tobacco smuggling
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-firearms" value="smuggling-crime-firearms">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-firearms">
                Firearms smuggling
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-alcohol" value="smuggling-crime-alcohol">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-alcohol">
                Alcohol smuggling
                
            </label>
        </div>
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" name="smuggling-crime-group" id="smuggling-crime-group-smuggling-crime-other" value="smuggling-crime-other">
            <label class="govuk-label govuk-checkboxes__label" for="smuggling-crime-group-smuggling-crime-other">
                Other smuggling
                
            </label>
        </div>
		</div>
    </fieldset>
</div>
</div>
  </div>
  </fieldset>